In [5]:
import psycopg2 as pg
import pandas as pd
import numpy as np
import pandas.io.sql as psql
import datetime
from dateutil.relativedelta import relativedelta
import time
import sys
sys.path.append('../src')
from datahub import PostgreSQLBase, ToDatahubWriter
import logging
logger = logging.getLogger()
logger.setLevel(logging.DEBUG)

formatter = logging.Formatter('%(asctime)s - %(name)s : %(levelname)s : %(message)s')

consoleHandler = logging.StreamHandler()
consoleHandler.setFormatter(formatter)
logger.addHandler(consoleHandler)

import auxiliary as aux
reload (aux)

postgres = PostgreSQLBase()
df_proc = aux.DataFrameProcessor()
loc_ids = aux.City_Country()

In [27]:
df_location = postgres.get_data('location_data.sql')

In [7]:
df_location

,_id$,bt,tt,dt,schema_subject,schema_version,doc_id,head,latest,ccl,...,calendar_id,parent_location_id,wfa_administrative,native_location_name,location_id,location_name,location_type_id,address_id,organization_id,parent_location_id_clean
0,ee9fa16b-1a61-4b90-b3ff-88a291f0b869,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:49:45.311,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000000755,True,True,None,...,NaN,4.060741e+18,None,None,8350000000000000755,302,3,NaN,600100000009081,4060741400321408308
1,fde9cb6f-6aea-4629-b770-85312d784f24,"DateTimeRange(datetime.datetime(2020, 1, 20, 1...","DateTimeRange(datetime.datetime(2020, 1, 20, 1...",2020-01-20 11:26:00.639,datahub.epm_pmc.m_geographical_location.v1,4,8150000000000125639,True,True,None,...,NaN,8.150000e+18,None,None,8150000000000125639,Off-site,1,NaN,600100000009081,8150000000000012146
2,80d7df05-e997-4410-9dc1-502c87030d93,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:49:45.901,datahub.epm_pmc.m_geographical_location.v1,4,4060741400328461331,True,True,None,...,NaN,4.060741e+18,None,None,4060741400328461331,407,3,NaN,600100000009081,4060741400328243428
3,aa0f332c-e067-466b-a886-3dd2b1f546af,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:58:00.415,datahub.epm_pmc.m_geographical_location.v1,4,4060741400304942841,True,True,LOCATION_NAME,...,NaN,4.060741e+18,None,None,4060741400304942841,Brussels,6,NaN,600100000009081,4060741400304650362
4,b4dccbfa-e266-4499-9c11-e2c267b7902d,"DateTimeRange(datetime.datetime(2018, 2, 14, 1...","DateTimeRange(datetime.datetime(2018, 2, 14, 1...",2018-02-15 03:19:30.748,datahub.epm_pmc.m_geographical_location.v1,1,4000602900000005342,True,True,CALENDAR_ID,...,NaN,NaN,None,None,4000602900000005342,RU_Inactive,4,NaN,600100000009081,-999
5,0acdb164-502c-46d4-a280-f3624dcd7c09,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:49:45.968,datahub.epm_pmc.m_geographical_location.v1,4,4060741400358499543,True,True,None,...,NaN,4.060741e+18,None,None,4060741400358499543,1-1,3,NaN,600100000009081,4060741400358499433
6,c9695a92-cb81-4947-91b3-6d83075827e3,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:53:09.334,datahub.epm_pmc.m_geographical_location.v1,4,4000741400010905345,True,True,None,...,NaN,4.000741e+18,None,None,4000741400010905345,"Kolodkina, 8",1,NaN,600100000009081,4000741400000710757
7,5a4c0921-6a3e-4a7d-ac8a-aac9d3c24dcd,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:49:46.041,datahub.epm_pmc.m_geographical_location.v1,4,4060741400352371858,True,True,None,...,NaN,4.060741e+18,None,None,4060741400352371858,Room 528,3,NaN,600100000009081,4060741400323605689
8,c1a833a6-a93f-4625-9167-5c27e2b2c672,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:58:00.623,datahub.epm_pmc.m_geographical_location.v1,4,4060741400039759369,True,True,LOCATION_NAME,...,NaN,4.060741e+18,None,None,4060741400039759369,Changzhou,6,NaN,600100000009081,4060741400007779857
9,6f79f7a7-26ef-4d86-a929-292795a26d03,"DateTimeRange(datetime.datetime(2019, 8, 26, 6...","DateTimeRange(datetime.datetime(2019, 8, 26, 6...",2019-08-26 06:39:13.295,datahub.epm_pmc.m_geographical_location.v1,4,4000741400003068893,True,True,None,...,NaN,4.000741e+18,None,None,4000741400003068893,601,2,NaN,600100000009081,4000741403370011979
10,5416ec80-fbde-405b-a774-0bc0a29c4065,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:53:14.682,datahub.epm_pmc.m_geographical_location.v1,4,4060741400345992504,True,True,None,...,NaN,4.060741e+18,None,None,4060741400345992504,Off-site,1,NaN,600100000009081,4060741400345992503
11,4c658465-023a-4be9-99eb-0e3bd761763f,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:58:00.727,datahub.epm_pmc.m_geographical_location.v1,4,4060741400041308966,True,True,LOCATION_NAME,...,NaN,4.060741e+18,None,None,4060741400041308966,Warsaw,6,NaN,600100000009081,4060741400006011393
12,d6165924-3a2e-4062-9ccc-77a95e404a81,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:58:02.749,datahub.epm_pmc.m_geographical_location.v1,4,4060741400005570313,True,True,LOCATION_NAME,...,NaN,4.000603e+18,None,None,4060741400005570313,Sergiev Posad,6,NaN,600100000009081,4000602900000005343
13,4519219e-08bf-4eed-b862-c3b40f5ab7c8,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:49:45.793,datahub.epm_pmc.m_geographical_location.v1,4,4060741400330633955,True,True,None,...,NaN,4.060741e+18,None,None,4060741400330633955,745,3,NaN,600100000009081,4060741400049744309
14,8cf01dee-edc8-4dd1-afeb-7c98fe3bd630,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:49:45.851,datahub.epm_pmc.m_geographical_location.v1,4,4060741400330634783,True,True,None,...,NaN,4.060741e+18,None,None,4060741400330634783,760,3,NaN,600100000009081,4060741400049744309
15,59ef0729-e76c-42df-8661-9f69abd793b1,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:49:46.115,datahub.epm_pmc.m_geographical_location.v1,4,4060741400370847344,True,True,None,...,NaN,4.060741e+18,None,None,4060741400370847344,441,3,NaN,600100000009081,4060741400331479632
16,0871003c-10fa-4f27-a897-719875fe601f,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:53:09.551,datahub.epm_pmc.m_geographical_location.v1,4,4060741400303097035,True,True,None,...,NaN,4.060741e+18,None,None,4060741400303097035,Off-site,1,NaN,600100000009081,4060741400303097031
17,66c2a130-9c29-48c5-ac68-4469bdd3a87c,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:49:46.219,datahub.epm_pmc.m_geographical_location.v1,4,4060741400037493651,True,True,None,...,NaN,4.060741e+18,None,None,4060741400037493651,RM Room,3,NaN,600100000009081,4060741400036388539
18,16a5877b-faf5-4282-aa20-ce4b859e7e96,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:58:02.900,datahub.epm_pmc.m_geographical_location.v1,4,4060741400049633033,True,True,LOCATION_NAME,...,NaN,4.000603e+18,None,None,4060741400049633033,"OFallon, MO",6,NaN,600100000009081,4000602900000005338
19,9275b4ce-dfe6-468e-ba32-5111d8adb680,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:58:03.003,datahub.epm_pmc.m_geographical_location.v1,4,4060741400038325057,True,True,LOCATION_NAME,...,NaN,4.000603e+18,None,None,4060741400038325057,"St. Louis, MO",6,NaN,600100000009081,4000602900000005338
20,fed85378-75ce-4a7e-b846-9a4c29a0f631,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:49:46.637,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000000307,True,True,None,...,NaN,8.350000e+18,None,None,8350000000000000307,room 7,3,NaN,600100000009081,8350000000000000305
21,de4c4f21-00c6-48f3-8871-e3e9e272b30f,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:49:46.758,datahub.epm_pmc.m_geographical_location.v1,4,4060741400325991764,True,True,None,...,NaN,4.060741e+18,None,None,4060741400325991764,308,3,NaN,600100000009081,4060741400322125604
22,0c7fdc66-be38-48f8-8299-395476abe72b,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:49:46.836,datahub.epm_pmc.m_geographical_location.v1,4,4060741400357784984,True,True,None,...,NaN,4.060741e+18,None,None,4060741400357784984,3,3,NaN,600100000009081,4060741400321407271
23,9795a063-56a1-4efb-86a0-3f851fb74cb4,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:49:46.899,datahub.epm_pmc.m_geographical_location.v1,4,4060741400347323197,True,True,None,...,NaN,4.060741e+18,None,None,4060741400347323197,1008,3,NaN,600100000009081,4060741400347321564
24,7fe860eb-b05b-4b6b-963f-dbdc06ff49a7,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:49:47.097,datahub.epm_pmc.m_geographical_location.v1,4,4060741400330634840,True,True,None,...,NaN,4.060741e+18,None,None,4060741400330634840,764,3,NaN,600100000009081,4060741400049744309
25,19a0692a-4b79-4ae1-bce5-5179a9f6bd92,"DateTimeRange(datetime.datetime(2019, 1, 28, 7...","DateTimeRange(datetime.datetime(2019, 1, 28, 7...",2019-01-28 08:14:02.649,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000001851,True,True,None,...,NaN,8.350000e+18,None,None,8350000000000001851,NON ODC Seats,3,NaN,600100000009081,8350000000000001304
26,118c1617-6c94-4300-a50d-0ceea4cedfef,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:49:46.396,datahub.epm_pmc.m_geographical_location.v1,4,4060741400036292781,True,True,None,...,NaN,4.000741e+18,None,None,4060741400036292781,RD,2,NaN,600100000009081,4000741400003063271
27,36607207-f3fd-4d88-894b-a50d7228b813,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:49:46.476,datahub.epm_pmc.m_geographical_location.v1,4,4060741400330634643,True,True,None,...,NaN,4.060741e+18,None,None,4060741400330634643,755,3,NaN,600100000009081,4060741400049744309
28,10884f7b-68f8-4e40-b11b-6c7847e25131,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:49:48.086,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000000428,True,True,None,...,NaN,4.060741e+18,None,None,8350000000000000428,505-1,3,NaN,600100000009081,4060741400331465414
29,b7fc871e-9581-4fe8-b88e-18016a362bc1,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...","DateTimeRange(datetime.datetime(2019, 3, 20, 1...",2019-03-20 13:49:48.195,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000000270,True,True,None,...,NaN,4.060741e+18,None,None,8350000000000000270,"Bema, 2",2,NaN,600100000009081,4060741400006288009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43721,2aee278e-177f-4790-93f7-9744ca8e7e7e,"DateTimeRange(datetime.datetime(2020, 1, 22, 0...","DateTimeRange(datetime.datetime(2020, 1, 22, 0...",2020-01-22 00:11:39.391,datahub.epm_pmc.m_geographical_location.v1,4,8150000000000120817,True,True,None,...,None,4.000603e+18,None,None,8150000000000120817,"Sussex, NJ",6,None,600100000009081,4000602900000005338
43722,a494a9b1-7d91-408f-b0d6-8b4885325851,"DateTimeRange(datetime.datetime(2020, 1, 22, 0...","DateTimeRange(datetime.datetime(2020, 1, 22, 0...",2020-01-22 00:23:22.180,datahub.epm_pmc.m_geographical_location.v1,4,8150000000000125775,True,True,None,...,None,8.150000e+18,None,None,8150000000000125775,Off-site,1,None,600100000009081,8150000000000120817
43723,1f0db548-b3df-4c2a-baa9-d0981b0f7cc2,"DateTimeRange(datetime.datetime(2020, 1, 22, 9...","DateTimeRange(datetime.datetime(2020, 1, 22, 9...",2020-01-22 09:33:25.152,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023440,True,True,None,...,None,4.060741e+18,None,None,8350000000000023440,1_floor,2,None,600100000009081,4060741400331479525
43724,67e744ed-8959-4217-9095-cf22ed233f2b,"DateTimeRange(datetime.datetime(2020, 1, 22, 9...","DateTimeRange(datetime.datetime(2020, 1, 22, 9...",2020-01-22 09:41:03.401,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023441,True,True,None,...,None,8.350000e+18,None,None,8350000000000023441,101,3,None,600100000009081,8350000000000023440
43725,f8635415-b1f0-48c6-9906-6fde1fc4d8e5,"DateTimeRange(datetime.datetime(2020, 1, 22, 9...","DateTimeRange(datetime.datetime(2020, 1, 22, 9...",2020-01-22 09:58:58.118,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023450,True,True,None,...,None,4.060741e+18,None,None,8350000000000023450,550_deleted_2020-01-22T09:02:06.385,3,None,600100000009081,4060741400323605689
43726,5ff865a9-2bc0-4f99-93dd-6d39aa19f084,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 11:26:54.785,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023443,True,True,None,...,None,8.350000e+18,None,None,8350000000000023443,1.1.1,3,None,600100000009081,8350000000000023441
43727,8cb16091-e5ac-469c-8c01-1e47a7daa25f,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 11:27:09.149,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023442,True,True,None,...,None,8.350000e+18,None,None,8350000000000023442,1.1.2,3,None,600100000009081,8350000000000023441
43728,b0682fe8-260f-413b-a55d-5e2bebb2b99c,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 11:45:37.963,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023453,True,True,None,...,None,4.060741e+18,None,None,8350000000000023453,409,3,None,600100000009081,4060741400037365894
43729,b03e14f8-9f23-49fd-b405-44eadb368ccf,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 11:47:13.556,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023454,True,True,None,...,None,4.060741e+18,None,None,8350000000000023454,413,3,None,600100000009081,4060741400037365894
43730,c2a4ef65-d9d3-49d9-9697-56a2881287ca,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 12:13:11.214,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023455,True,True,None,...,None,8.350000e+18,None,None,8350000000000023455,409.1,3,None,600100000009081,8350000000000023453
43731,61d8c706-c9b1-43a7-a47e-263d8e722116,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 12:13:11.454,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023456,True,True,None,...,None,8.350000e+18,None,None,8350000000000023456,409.2,3,None,600100000009081,8350000000000023453
43732,2c3166f2-4f93-4f39-997a-3e88aa5bd32f,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 12:13:11.598,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023460,True,True,None,...,None,8.350000e+18,None,None,8350000000000023460,409.6,3,None,600100000009081,8350000000000023453
43733,a7f7671a-401a-482d-82de-c1e5c015b488,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 12:13:11.727,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023459,True,True,None,...,None,8.350000e+18,None,None,8350000000000023459,409.5,3,None,600100000009081,8350000000000023453
43734,b797e25d-6bbc-4cb9-9470-b2de205be648,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 12:13:11.840,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023464,True,True,None,...,None,8.350000e+18,None,None,8350000000000023464,413.4,3,None,600100000009081,8350000000000023454
43735,4312b844-32d3-4559-b8ab-d02f7684a77f,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 12:13:11.985,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023461,True,True,None,...,None,8.350000e+18,None,None,8350000000000023461,413.1,3,None,600100000009081,8350000000000023454
43736,b4b54490-eb31-46a7-b76f-a148f101fb59,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 12:13:11.992,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023466,True,True,None,...,None,8.350000e+18,None,None,8350000000000023466,413.6,3,None,600100000009081,8350000000000023454
43737,ad0c63de-b7c5-4139-b0cf-3c899797accd,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 12:13:12.166,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023462,True,True,None,...,None,8.350000e+18,None,None,8350000000000023462,413.2,3,None,600100000009081,8350000000000023454
43738,567a4346-191e-42dd-b72f-9e0a78b026ef,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 12:13:12.348,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023463,True,True,None,...,None,8.350000e+18,None,None,8350000000000023463,413.3,3,None,600100000009081,8350000000000023454
43739,107a5dfa-068c-4193-85f0-835183c07f4d,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 12:13:12.517,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023465,True,True,None,...,None,8.350000e+18,None,None,8350000000000023465,413.5,3,None,600100000009081,8350000000000023454
43740,f354b80d-9349-4260-a623-82fc4fa79f92,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 12:13:12.964,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023458,True,True,None,...,None,8.350000e+18,None,None,8350000000000023458,409.4,3,None,600100000009081,8350000000000023453
43741,799369f2-7d62-4b39-b39e-b5df71e88e8c,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 12:13:14.066,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023457,True,True,None,...,None,8.350000e+18,None,None,8350000000000023457,409.3,3,None,600100000009081,8350000000000023453
43742,d1786f03-bd11-4b45-9182-4e88ccc92c07,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 13:13:09.566,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023467,True,True,None,...,None,8.350000e+18,None,None,8350000000000023467,Guest Space,3,None,600100000009081,8350000000000007246
43743,479ae4a0-50cf-4996-8137-4a2fab55935a,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 13:13:43.464,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023471,True,True,None,...,None,8.350000e+18,None,None,8350000000000023471,153,3,None,600100000009081,8350000000000023467
43744,31ff5413-7745-4f61-9bad-0486f24e76c9,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 13:13:44.198,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023468,True,True,None,...,None,8.350000e+18,None,None,8350000000000023468,150,3,None,600100000009081,8350000000000023467
43745,8f35702a-5c01-4f8f-88ea-cdd7c1fde76c,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 13:13:44.358,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023470,True,True,None,...,None,8.350000e+18,None,None,8350000000000023470,152,3,None,600100000009081,8350000000000023467
43746,b11b24aa-54b4-447b-b997-6da7ba82d3f6,"DateTimeRange(datetime.datetime(2020, 1, 22, 1...","DateTimeRange(datetime.datetime(2020, 1, 22, 1...",2020-01-22 13:13:46.855,datahub.epm_pmc.m_geographical_location.v1,4,8350000000000023469,True,True,None,...,None,8.350000e+18,None,None,8350000000000023469,151,3,None,600100000009081,8350000000000023467

In [8]:
regions = df_location[df_location.location_type_id == 5][[
                'location_id', 'location_name', 'parent_location_id_clean']].rename(columns={'location_name': 'country'})

regions = pd.merge(regions,
                           df_location.drop_duplicates('location_id').set_index('location_id')[
                               ['location_name']].rename(columns={'location_name': 'region'}),
                           how='left', left_on='parent_location_id_clean', right_index=True)

regions = regions.rename(columns={'location_id': 'country_id',
                                                  'parent_location_id_clean': 'region_id'})

In [9]:
regions.shape

(45, 4)

In [10]:
regions.country_id = regions.country_id.astype(str)

In [11]:
regions

,country_id,country,region_id,region
155,4060741400009546987,Malaysia,4060741400007619002,APAC
158,4060741400334527463,South Korea,4060741400007619002,APAC
159,4060741400332583389,France,4060741400044109082,WE
169,4060741400034686867,Austria,4060741400044109082,WE
170,4060741400007779857,China,4060741400007619002,APAC
171,4060741400037227211,Israel,4060741400044109082,WE
173,4060741400324661159,Japan,4060741400007619002,APAC
178,4000602900000005343,Russia,4000741400000756778,CIS
179,4060741400008825976,Ireland,4060741400044109082,WE
181,4060741400304650362,Belgium,4060741400044109082,WE
182,4060741400306553064,Italy,4060741400044109082,WE
184,4060741400306635794,Denmark,4060741400044109082,WE
191,4000602900000005338,USA,4060741400044103994,Americas
192,4000602900000005345,Belarus,4000741400000756778,CIS
204,4000602900000005340,Hungary,4060741400044108738,CEE
205,4000602900000005341,UK,4060741400044109082,WE
206,4000629602170011179,Germany,4060741400044109082,WE
209,4060741400006011393,Poland,4060741400044108738,CEE
211,4000741400009107797,Switzerland,4060741400044109082,WE
213,4060741400009317836,Mexico,4060741400044103994,Americas
215,4060741400037597123,UAE,4060741400044104113,Arab States
218,4060741400050298471,New Zealand,4060741400007619002,APAC
223,4060741400304486122,Serbia,4060741400044108738,CEE
224,4060741400340599192,Thailand,4060741400007619002,APAC
240,4060741400008829389,Hong Kong SAR,4060741400007619002,APAC
243,4060741400007636844,Netherlands,4060741400044109082,WE
264,4000741400007028830,Sweden,4060741400044109082,WE
268,4060741400008501992,Australia,4060741400007619002,APAC
285,4060741400303187466,Slovakia,4060741400044108738,CEE
304,4000741400000756803,Armenia,4000741400000756778,CIS
308,4000741400005479105,Kazakhstan,4000741400000756778,CIS
309,4000741334650021875,Ukraine,4060741400044108738,CEE
310,4060741400008483061,Czech Republic,4060741400044108738,CEE
318,4060741400007619004,Singapore,4060741400007619002,APAC
321,4060741400008679559,Bulgaria,4060741400044108738,CEE
325,4060741400049456724,Portugal,4060741400044109082,WE
389,8150000000000001150,Philippines,4060741400007619002,APAC
516,4060741400349324343,Viet Nam,4060741400007619002,APAC
535,4060741400035398530,Cyprus,4060741400044109082,WE
544,8150000000000000024,Uzbekistan,4000741400000756778,CIS
1125,4000741400002544657,China- Not Active,8150000000000001004,Asia
3694,4000741400000172696,Canada,4060741400044103994,Americas
3792,4060741400035606931,India,4060741400007619002,APAC
4094,4060741400034895894,Spain,4060741400044109082,WE
43748,8150000000000001073,Georgia,4000741400000756778,CIS

In [14]:
loc_ids.id_city_country

,city_id,city,country_id,country
3,4060741400304942841,Brussels,4060741400304650362,Belgium
8,4060741400039759369,Changzhou,4060741400007779857,China
11,4060741400041308966,Warsaw,4060741400006011393,Poland
12,4060741400005570313,Sergiev Posad,4000602900000005343,Russia
18,4060741400049633033,"OFallon, MO",4000602900000005338,USA
19,4060741400038325057,"St. Louis, MO",4000602900000005338,USA
31,4060741400037227239,Tel Aviv,4060741400037227211,Israel
36,4000741400000710757,Tver,4000602900000005343,Russia
38,4060741400309003596,"Ada, MI",4000602900000005338,USA
45,4060741400050458128,"Warren, NJ",4000602900000005338,USA
47,4060741400306635810,Copenhagen,4060741400306635794,Denmark
56,4060741400306548667,Whenzhou,4060741400007779857,China
75,4000741334650021876,Kyiv,4000741334650021875,Ukraine
76,4000741400003365094,Vinnytsia,4000741334650021875,Ukraine
84,4000741400002431359,Togliatti,4000602900000005343,Russia
103,4060741400329204464,"Cumberland, ME",4000602900000005338,USA
110,4060741400035481050,Mexico City,4060741400009317836,Mexico
125,4000741400002650565,Lviv,4000741334650021875,Ukraine
127,4060741400008483062,Prague,4060741400008483061,Czech Republic
129,4060741400306553094,Milan,4060741400306553064,Italy
130,4060741400034686870,Vienna,4060741400034686867,Austria
137,4060741400041717289,Nizhny Novgorod,4000602900000005343,Russia
148,8150000000000119458,"Somerset, NJ",4000602900000005338,USA
152,8150000000000088417,"Alpharetta, GA",4000602900000005338,USA
154,8150000000000097078,"Downers Grove, IL",4000602900000005338,USA
156,4060741400322931188,Montreal,4000741400000172696,Canada
157,4060741400324866986,Herzogenaurach,4000629602170011179,Germany
165,8150000000000045172,Rotkreuz,4000741400009107797,Switzerland
168,4060741400007081486,Munich,4000629602170011179,Germany
172,4060741400041527246,Mumbai,4060741400035606931,India
...,...,...,...,...
4191,4060741400041675826,Cambridge,4000602900000005341,UK
4192,4060741400350075325,Ho Chi Minh City,4060741400349324343,Viet Nam
4194,4060741400322571840,"Bloomfield, CT",4000602900000005338,USA
4195,4000741334650022057,"San Francisco, CA",4000602900000005338,USA
4196,4060741400026705441,"Santa Monica, CA",4000602900000005338,USA
4216,4060741400034756700,"McLean, VA",4000602900000005338,USA
4217,4060741400038772526,"Nashua, NH",4000602900000005338,USA
4218,4060741400007057224,"Orlando, FL",4000602900000005338,USA
4548,8150000000000049393,Herzliyya,4060741400037227211,Israel
4732,8150000000000026884,Hoofddorp,4060741400007636844,Netherlands
5009,8150000000000095953,"Cumming, GA",4000602900000005338,USA
5108,8150000000000116509,"Rio Rancho, NM",4000602900000005338,USA
5956,8150000000000110277,"Monroe, NJ",4000602900000005338,USA
6075,8150000000000118267,"Schaumburg, IL",4000602900000005338,USA
6885,4060741400050486349,"Churchton, MD",4000602900000005338,USA
7097,4060741400008564725,"Cambridge, MA",4000602900000005338,USA
7098,4060741400007779858,Hong Kong SAR,4060741400008829389,Hong Kong SAR
7207,4060741400007057219,"Los Angeles, CA",4000602900000005338,USA
7210,4000741400000891186,"Boston, MA",4000602900000005338,USA
7229,4060741400303097031,"Hampton, NH",4000602900000005338,USA
7297,4060741400008240077,"Charlotte, NC",4000602900000005338,USA
7341,8150000000000045235,Schaffhausen,4000741400009107797,Switzerland
7408,8150000000000111243,"Natick, MA",4000602900000005338,USA
32238,8150000000000099061,"Farmington Hills, MI",4000602900000005338,USA
32247,8150000000000002946,Mississauga,4000741400000172696,Canada
32250,8150000000000097060,"Dover, NH",4000602900000005338,USA
34458,8150000000000122579,"Vancouver, WA",4000602900000005338,USA
34461,8150000000000123596,"Wauwatosa, WI",4000602900000005338,USA
43721,8150000000000120817,"Sussex, NJ",4000602900000005338,USA
43750,8150000000000029944,Tbilisi,8150000000000001073,Georgia

In [15]:
loc_ids.id_city_country.shape

(366, 4)

In [16]:
locs = pd.merge(
    loc_ids.id_city_country, regions.drop_duplicates('country_id').set_index('country_id')[['region_id', 'region']],
    how='left', left_on = 'country_id', right_index=True
)

In [17]:
locs.shape

(366, 6)

In [18]:
locs

,city_id,city,country_id,country,region_id,region
3,4060741400304942841,Brussels,4060741400304650362,Belgium,4060741400044109082,WE
8,4060741400039759369,Changzhou,4060741400007779857,China,4060741400007619002,APAC
11,4060741400041308966,Warsaw,4060741400006011393,Poland,4060741400044108738,CEE
12,4060741400005570313,Sergiev Posad,4000602900000005343,Russia,4000741400000756778,CIS
18,4060741400049633033,"OFallon, MO",4000602900000005338,USA,4060741400044103994,Americas
19,4060741400038325057,"St. Louis, MO",4000602900000005338,USA,4060741400044103994,Americas
31,4060741400037227239,Tel Aviv,4060741400037227211,Israel,4060741400044109082,WE
36,4000741400000710757,Tver,4000602900000005343,Russia,4000741400000756778,CIS
38,4060741400309003596,"Ada, MI",4000602900000005338,USA,4060741400044103994,Americas
45,4060741400050458128,"Warren, NJ",4000602900000005338,USA,4060741400044103994,Americas
47,4060741400306635810,Copenhagen,4060741400306635794,Denmark,4060741400044109082,WE
56,4060741400306548667,Whenzhou,4060741400007779857,China,4060741400007619002,APAC
75,4000741334650021876,Kyiv,4000741334650021875,Ukraine,4060741400044108738,CEE
76,4000741400003365094,Vinnytsia,4000741334650021875,Ukraine,4060741400044108738,CEE
84,4000741400002431359,Togliatti,4000602900000005343,Russia,4000741400000756778,CIS
103,4060741400329204464,"Cumberland, ME",4000602900000005338,USA,4060741400044103994,Americas
110,4060741400035481050,Mexico City,4060741400009317836,Mexico,4060741400044103994,Americas
125,4000741400002650565,Lviv,4000741334650021875,Ukraine,4060741400044108738,CEE
127,4060741400008483062,Prague,4060741400008483061,Czech Republic,4060741400044108738,CEE
129,4060741400306553094,Milan,4060741400306553064,Italy,4060741400044109082,WE
130,4060741400034686870,Vienna,4060741400034686867,Austria,4060741400044109082,WE
137,4060741400041717289,Nizhny Novgorod,4000602900000005343,Russia,4000741400000756778,CIS
148,8150000000000119458,"Somerset, NJ",4000602900000005338,USA,4060741400044103994,Americas
152,8150000000000088417,"Alpharetta, GA",4000602900000005338,USA,4060741400044103994,Americas
154,8150000000000097078,"Downers Grove, IL",4000602900000005338,USA,4060741400044103994,Americas
156,4060741400322931188,Montreal,4000741400000172696,Canada,4060741400044103994,Americas
157,4060741400324866986,Herzogenaurach,4000629602170011179,Germany,4060741400044109082,WE
165,8150000000000045172,Rotkreuz,4000741400009107797,Switzerland,4060741400044109082,WE
168,4060741400007081486,Munich,4000629602170011179,Germany,4060741400044109082,WE
172,4060741400041527246,Mumbai,4060741400035606931,India,4060741400007619002,APAC
...,...,...,...,...,...,...
4191,4060741400041675826,Cambridge,4000602900000005341,UK,4060741400044109082,WE
4192,4060741400350075325,Ho Chi Minh City,4060741400349324343,Viet Nam,4060741400007619002,APAC
4194,4060741400322571840,"Bloomfield, CT",4000602900000005338,USA,4060741400044103994,Americas
4195,4000741334650022057,"San Francisco, CA",4000602900000005338,USA,4060741400044103994,Americas
4196,4060741400026705441,"Santa Monica, CA",4000602900000005338,USA,4060741400044103994,Americas
4216,4060741400034756700,"McLean, VA",4000602900000005338,USA,4060741400044103994,Americas
4217,4060741400038772526,"Nashua, NH",4000602900000005338,USA,4060741400044103994,Americas
4218,4060741400007057224,"Orlando, FL",4000602900000005338,USA,4060741400044103994,Americas
4548,8150000000000049393,Herzliyya,4060741400037227211,Israel,4060741400044109082,WE
4732,8150000000000026884,Hoofddorp,4060741400007636844,Netherlands,4060741400044109082,WE
5009,8150000000000095953,"Cumming, GA",4000602900000005338,USA,4060741400044103994,Americas
5108,8150000000000116509,"Rio Rancho, NM",4000602900000005338,USA,4060741400044103994,Americas
5956,8150000000000110277,"Monroe, NJ",4000602900000005338,USA,4060741400044103994,Americas
6075,8150000000000118267,"Schaumburg, IL",4000602900000005338,USA,4060741400044103994,Americas
6885,4060741400050486349,"Churchton, MD",4000602900000005338,USA,4060741400044103994,Americas
7097,4060741400008564725,"Cambridge, MA",4000602900000005338,USA,4060741400044103994,Americas
7098,4060741400007779858,Hong Kong SAR,4060741400008829389,Hong Kong SAR,4060741400007619002,APAC
7207,4060741400007057219,"Los Angeles, CA",4000602900000005338,USA,4060741400044103994,Americas
7210,4000741400000891186,"Boston, MA",4000602900000005338,USA,4060741400044103994,Americas
7229,4060741400303097031,"Hampton, NH",4000602900000005338,USA,4060741400044103994,Americas
7297,4060741400008240077,"Charlotte, NC",4000602900000005338,USA,4060741400044103994,Americas
7341,8150000000000045235,Schaffhausen,4000741400009107797,Switzerland,4060741400044109082,WE
7408,8150000000000111243,"Natick, MA",4000602900000005338,USA,4060741400044103994,Americas
32238,8150000000000099061,"Farmington Hills, MI",4000602900000005338,USA,4060741400044103994,Americas
32247,8150000000000002946,Mississauga,4000741400000172696,Canada,4060741400044103994,Americas
32250,8150000000000097060,"Dover, NH",4000602900000005338,USA,4060741400044103994,Americas
34458,8150000000000122579,"Vancouver, WA",4000602900000005338,USA,4060741400044103994,Americas
34461,8150000000000123596,"Wauwatosa, WI",4000602900000005338,USA,4060741400044103994,Americas
43721,8150000000000120817,"Sussex, NJ",4000602900000005338,USA,4060741400044103994,Americas
43750,8150000000000029944,Tbilisi,8150000000000001073,Georgia,4000741400000756778,CIS

In [28]:
df = postgres.get_data('test_query.sql')
df

,id,bt,tt,dt,schema_subject,schema_version,doc_id,head,latest,ccl,...,comment_created_by_name,utilization_group_id,staffing_channels,creator_name,time,closure_reason_group_id,container_project_billing_type_id,coordinator_id,ibu_name,termination_reason_id
0,cb2023c1-6d46-4c61-bb08-e4278990a948,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:56.108,datahub.epm_staf.v1.m_positions,45,72418,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Iaroslav Basiniouk,2019-07-04 22:52:44.732,None,2,None,None,2
1,d9bb6145-d295-4a2f-9262-0a753e5630f9,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:56.468,datahub.epm_staf.v1.m_positions,45,72425,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Ihar Makushynski,2019-07-04 11:14:55.787,None,1,None,None,2
2,0db52c68-5dba-40d0-8464-63ada3d2fa94,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:56.450,datahub.epm_staf.v1.m_positions,45,72432,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 11:24:24.992,None,1,None,None,2
3,28a7e8b4-6df9-465b-abc1-1767f693e8f0,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:00.324,datahub.epm_staf.v1.m_positions,45,72435,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 11:29:06.505,None,1,None,None,2
4,65952504-a2c3-4e54-9e9e-a8df5a5ab259,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:57.505,datahub.epm_staf.v1.m_positions,45,72438,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 13:26:12.357,None,1,None,None,2
5,85a28c9c-bc98-422b-baaa-fac0d49bbb69,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:02.222,datahub.epm_staf.v1.m_positions,45,72441,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:47:40.855,None,1,None,None,2
6,b4875d59-8a92-4e54-b9ba-609de47787a9,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:57.931,datahub.epm_staf.v1.m_positions,45,72444,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:32:18.924,None,1,None,None,2
7,76ec0851-baf7-4aad-a8cc-2f6b295449ec,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:00.304,datahub.epm_staf.v1.m_positions,45,72447,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:32:18.034,None,1,None,None,2
8,2b574333-88d9-4fc0-942b-084aeec7a39d,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:59.086,datahub.epm_staf.v1.m_positions,45,72474,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 17:53:23.505,None,1,None,None,2
9,bbbeda1c-a2e1-4caa-8c2d-e91d2256d41f,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:57.837,datahub.epm_staf.v1.m_positions,45,72481,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 12:01:01.448,None,1,None,None,2
10,f2597b0e-5dfe-4f16-9443-4820ab5fad5a,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:00.313,datahub.epm_staf.v1.m_positions,45,72484,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 11:50:42.452,None,1,None,None,2
11,3936fad3-8b89-4725-9c1a-ec3b723b6607,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:58.861,datahub.epm_staf.v1.m_positions,45,72487,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 11:53:48.242,None,1,None,None,2
12,eeb39cce-97cf-4766-b787-8561a0d23a60,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:59.381,datahub.epm_staf.v1.m_positions,45,72490,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 11:16:38.444,None,1,None,None,2
13,ddcf4240-158f-42d0-a08f-fbfdf7b3af9a,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:58.154,datahub.epm_staf.v1.m_positions,45,72509,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:30:55.528,None,1,None,None,2
14,d6d21c76-06ac-4366-8638-35be57cee3af,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:58.390,datahub.epm_staf.v1.m_positions,45,72512,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 16:33:39.403,None,1,None,None,2
15,e950681f-d3f4-4f48-b0e9-1a865767367c,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:00.903,datahub.epm_staf.v1.m_positions,45,72523,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:42:27.269,None,1,None,None,2
16,381a9478-472b-4d4c-8507-724f62d83381,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:58.611,datahub.epm_staf.v1.m_positions,45,72526,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:46:31.777,None,1,None,None,2
17,7a6bdcae-8916-431d-9a1d-689e531ce445,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:03.118,datahub.epm_staf.v1.m_positions,45,72529,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:42:39.567,None,1,None,None,2
18,116c7a01-c931-47ba-bebb-613121db3c47,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:59.129,datahub.epm_staf.v1.m_positions,45,72532,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 17:51:05.895,None,1,None,None,2
19,dd707ae2-827e-4521-acb6-cbde3c5a03a8,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:01.312,datahub.epm_staf.v1.m_positions,45,72551,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:42:26.086,None,1,None,None,2
20,1ec13f14-4af2-404f-bf74-b6873ee08994,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:58.635,datahub.epm_staf.v1.m_positions,45,72554,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 16:22:19.627,None,1,None,None,2
21,56de69df-e7f9-4b4f-bb74-4deaea420e9d,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:00.637,datahub.epm_staf.v1.m_positions,45,72557,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Aliaksei Tsiapuhin,2019-07-04 16:51:11.243,None,1,None,None,2
22,2cf85c24-f948-406d-a255-81875b102dff,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:01.117,datahub.epm_staf.v1.m_positions,45,72560,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 16:59:29.097,None,1,None,None,2
23,be4e9d10-118f-4ee3-b245-01b141dc0803,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:00.943,datahub.epm_staf.v1.m_positions,45,72579,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 14:09:18.634,None,1,None,None,2
24,0aa937be-fd7b-4dd5-a9f3-f3367f4a9d4a,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:04.108,datahub.epm_staf.v1.m_positions,45,72582,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 11:59:46.676,None,1,None,None,2
25,04e70303-d01e-4d3d-95e1-52638375c84d,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:59.710,datahub.epm_staf.v1.m_positions,45,72593,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 16:20:30.913,None,1,None,None,2
26,1f271e55-2d46-49ca-b0fc-a1e791476c84,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:00.627,datahub.epm_staf.v1.m_positions,45,72596,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 16:32:12.853,None,1,None,None,2
27,665c71f4-9c4b-4ad3-b19c-90ec8cf96099,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:00.369,datahub.epm_staf.v1.m_positions,45,72599,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 16:50:00.055,None,1,None,None,2
28,31ab39de-a5af-4ae2-89a8-677a281c6d3d,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:02.502,datahub.epm_staf.v1.m_positions,45,72614,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:35:25.562,None,1,None,None,2
29,085d9b7d-fd22-4c84-80aa-98308b84caae,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:00.684,datahub.epm_staf.v1.m_positions,45,72621,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 11:47:24.798,None,1,None,None,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,d514410a-4f7b-427d-bd88-30705520e551,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:21.643,datahub.epm_staf.v1.m_positions,45,79085,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Oleg Danilov,2019-07-04 11:22:33.366,None,6,None,None,2
971,3097a627-f9b9-4776-a0ff-62191f2080fd,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:22.032,datahub.epm_staf.v1.m_positions,45,79097,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Lyudmila Shatko,2019-07-04 20:37:12.106,None,1,625400000000156,None,2
972,5cf36c0d-9e2d-4ccb-bb77-44f2d051f1a1,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:21.492,datahub.epm_staf.v1.m_positions,45,79104,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Yaroslav Tomilchik,2019-07-05 00:43:35.816,None,2,None,None,None
973,58bac53a-d55e-4831-87e0-8f24f143d229,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:22.161,datahub.epm_staf.v1.m_positions,45,79107,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Oleg Danilov,2019-07-05 01:30:58.412,None,2,None,None,None
974,f2061345-b8f5-4b74-851a-adbadce3385c,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:22.158,datahub.epm_staf.v1.m_positions,45,79112,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-05 01:41:39.043,None,1,None,None,None
975,747efceb-d960-4423-9089-5ccb14604e4d,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:21.744,datahub.epm_staf.v1.m_positions,45,79119,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Yaroslav Tomilchik,2019-07-05 00:10:31.011,None,2,None,None,None
976,061b2e8e-7e15-414f-a391-3113c13d48ba,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:22.582,datahub.epm_staf.v1.m_positions,45,79124,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Ilya Kochetov,2019-07-05 01:29:20.907,None,2,None,None,None
977,21e47385-fac7-418d-9cee-aa1f0bc4bb19,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:21.642,datahub.epm_staf.v1.m_positions,45,79127,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Ilya Kochetov,2019-07-04 22:51:38.471,None,2,None,None,2
978,e023b007-9cdb-4f22-a887-a0271331cee5,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:21.548,datahub.epm_staf.v1.m_positions,45,79134,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Dimitri Labutin,2019-07-04 17:57:43.404,None,1,None,None,2
979,07da65ba-a25b-4266-af83-744d837afb24,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:22.298,datahub.epm_staf.v1.m_positions,45,79141,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Pavel Grebenshikov,2019-07-05 00:41:48.177,None,1,None,None,None
980,b7707a14-75cd-45a6-bdb2-3d23341d8a2f,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:23.325,datahub.epm_staf.v1.m_positions,45,79144,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Pavel Grebenshikov,2019-07-04 10:56:15.062,None,1,None,None,2
981,78f23917-7546-417c-a667-349e682ab0aa,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:22.340,datahub.epm_staf.v1.m_positions,45,79151,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Roman Grishkevich,2019-07-04 23:56:50.314,None,6,None,None,None
982,614480bc-ec00-46c6-804c-514ef1d3ee00,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:22.975,datahub.epm_staf.v1.m_positions,45,79159,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Nikolai Novokhrost,2019-07-04 18:26:22.685,None,1,313931691,None,2
983,9c0bdade-9757-489d-91cf-9a3891947496,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:22.476,datahub.epm_staf.v1.m_positions,45,79169,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:42:39.847,None,1,None,None,2
984,e48ffbe9-eaac-481e-93bd-7ffc4d262aac,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:24.668,datahub.epm_staf.v1.m_positions,45,79176,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-05 01:51:52.594,None,1,None,None,None
985,c7952b67-9db6-4998-98b5-0c05ff7640c3,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:24.400,datahub.epm_staf.v1.m_positions,45,79179,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:30:49.823,None,1,None,None,2
986,b269b9f4-3d1d-4b93-8bf0-03f18ca5c76e,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:24.180,datahub.epm_staf.v1.m_positions,45,79186,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-05 00:06:59.313,None,1,None,None,None
987,e2be92c7-e92d-46b0-b7f4-d2c055e607fa,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:22.739,datahub.epm_staf.v1.m_positions,45,79189,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-05 00:12:02.367,None,1,None,None,None
988,3d7b66d2-810e-4fbb-bc16-2b35cb2da7f0,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:21.666,datahub.epm_staf.v1.m_positions,45,79194,True,True,"place_of_work_id,place_of_work_name",...,None,None,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-05 01:45:05.688,None,1,None,None,None

In [29]:
df.staffing_locations

0      [{"id": "600100000009449", "name": "Minsk", "t...
1      [{"id": "600100000009447", "name": "Gomel", "t...
2      [{"id": "600100000009447", "name": "Gomel", "t...
3      [{"id": "600100000009447", "name": "Gomel", "t...
4      [{"id": "600100000009449", "name": "Minsk", "t...
5      [{"id": "600100000009447", "name": "Gomel", "t...
6      [{"id": "600100000009447", "name": "Gomel", "t...
7      [{"id": "600100000009447", "name": "Gomel", "t...
8      [{"id": "600100000009447", "name": "Gomel", "t...
9      [{"id": "600100000009449", "name": "Minsk", "t...
10     [{"id": "4060741400050873990", "name": "Prince...
11     [{"id": "4060741400050873990", "name": "Prince...
12     [{"id": "4060741400050873990", "name": "Prince...
13     [{"id": "4060741400050873990", "name": "Prince...
14     [{"id": "600100000009447", "name": "Gomel", "t...
15     [{"id": "4060741400050873990", "name": "Prince...
16     [{"id": "600100000009449", "name": "Minsk", "t...
17     [{"id": "600100000009449", "name": "Minsk", "t...
18     [{"id": "600100000009449", "name": "Minsk", "t...
19     [{"id": "600100000009449", "name": "Minsk", "t...
20     [{"id": "600100000009449", "name": "Minsk", "t...
21     [{"id": "600100000009447", "name": "Gomel", "t...
22     [{"id": "600100000009449", "name": "Minsk", "t...
23     [{"id": "4000741334650022057", "name": "San Fr...
24     [{"id": "600100000009449", "name": "Minsk", "t...
25     [{"id": "-1", "name": "Any Location", "type": ...
26     [{"id": "600100000009449", "name": "Minsk", "t...
27     [{"id": "600100000009449", "name": "Minsk", "t...
28     [{"id": "600100000009447", "name": "Gomel", "t...
29     [{"id": "600100000009449", "name": "Minsk", "t...
                             ...
970    [{"id": "600100000009448", "name": "Grodno", "...
971    [{"id": "600100000009449", "name": "Minsk", "t...
972    [{"id": "600100000009449", "name": "Minsk", "t...
973    [{"id": "600100000009449", "name": "Minsk", "t...
974    [{"id": "600100000009449", "name": "Minsk", "t...
975    [{"id": "600100000009449", "name": "Minsk", "t...
976    [{"id": "600100000009450", "name": "Moscow", "...
977    [{"id": "600100000009449", "name": "Minsk", "t...
978    [{"id": "600100000009449", "name": "Minsk", "t...
979    [{"id": "600100000009447", "name": "Gomel", "t...
980    [{"id": "600100000009447", "name": "Gomel", "t...
981    [{"id": "600100000009449", "name": "Minsk", "t...
982    [{"id": "600100000009449", "name": "Minsk", "t...
983    [{"id": "600100000009447", "name": "Gomel", "t...
984    [{"id": "600100000009447", "name": "Gomel", "t...
985    [{"id": "600100000009447", "name": "Gomel", "t...
986    [{"id": "600100000009449", "name": "Minsk", "t...
987    [{"id": "600100000009449", "name": "Minsk", "t...
988    [{"id": "600100000009449", "name": "Minsk", "t...
989    [{"id": "600100000009449", "name": "Minsk", "t...
990    [{"id": "600100000009450", "name": "Moscow", "...
991    [{"id": "600100000009449", "name": "Minsk", "t...
992    [{"id": "600100000009449", "name": "Minsk", "t...
993    [{"id": "600100000009449", "name": "Minsk", "t...
994    [{"id": "600100000009450", "name": "Moscow", "...
995    [{"id": "600100000009449", "name": "Minsk", "t...
996    [{"id": "600100000009450", "name": "Moscow", "...
997    [{"id": "600100000009449", "name": "Minsk", "t...
998    [{"id": "4060741400050873990", "name": "Prince...
999    [{"id": "600100000009447", "name": "Gomel", "t...
Name: staffing_locations, Length: 1000, dtype: object

In [30]:
df.staffing_locations[25]

'[{"id": "-1", "name": "Any Location", "type": "City", "_class": "PositionLocation", "parent": null, "preferred": false}]'

In [31]:
loc_ids.city_country_processor(df)

,id,bt,tt,dt,schema_subject,schema_version,doc_id,head,latest,ccl,...,staffing_channels,creator_name,time,closure_reason_group_id,container_project_billing_type_id,coordinator_id,ibu_name,termination_reason_id,staffing_locations_cities,staffing_locations_countries
25,04e70303-d01e-4d3d-95e1-52638375c84d,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:59.710,datahub.epm_staf.v1.m_positions,45,72593,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 16:20:30.913,None,1,None,None,2,"[Brussels, Changzhou, Warsaw, Sergiev Posad, O...","[Belgium, China, Poland, Russia, USA, Israel, ..."
123,9fd10020-2386-4d46-b33a-b15f5888c9f7,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:09.209,datahub.epm_staf.v1.m_positions,45,73071,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Yaroslav Tomilchik,2019-07-04 12:05:35.552,None,2,None,None,2,"[Brussels, Changzhou, Warsaw, Sergiev Posad, O...","[Belgium, China, Poland, Russia, USA, Israel, ..."
477,cd5a20c6-5420-4bf4-af11-fd7b1fb7afff,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:38.739,datahub.epm_staf.v1.m_positions,45,75638,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Valeri Pougatchev,2019-07-04 16:00:06.149,None,1,None,None,2,"[Brussels, Changzhou, Warsaw, Sergiev Posad, O...","[Belgium, China, Poland, Russia, USA, Israel, ..."
0,cb2023c1-6d46-4c61-bb08-e4278990a948,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:56.108,datahub.epm_staf.v1.m_positions,45,72418,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Iaroslav Basiniouk,2019-07-04 22:52:44.732,None,2,None,None,2,[Minsk],[Belarus]
1,d9bb6145-d295-4a2f-9262-0a753e5630f9,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:56.468,datahub.epm_staf.v1.m_positions,45,72425,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Ihar Makushynski,2019-07-04 11:14:55.787,None,1,None,None,2,[Gomel],[Belarus]
2,0db52c68-5dba-40d0-8464-63ada3d2fa94,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:56.450,datahub.epm_staf.v1.m_positions,45,72432,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 11:24:24.992,None,1,None,None,2,[Gomel],[Belarus]
3,28a7e8b4-6df9-465b-abc1-1767f693e8f0,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:00.324,datahub.epm_staf.v1.m_positions,45,72435,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 11:29:06.505,None,1,None,None,2,[Gomel],[Belarus]
4,65952504-a2c3-4e54-9e9e-a8df5a5ab259,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:57.505,datahub.epm_staf.v1.m_positions,45,72438,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 13:26:12.357,None,1,None,None,2,[Minsk],[Belarus]
5,85a28c9c-bc98-422b-baaa-fac0d49bbb69,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:02.222,datahub.epm_staf.v1.m_positions,45,72441,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:47:40.855,None,1,None,None,2,[Gomel],[Belarus]
6,b4875d59-8a92-4e54-b9ba-609de47787a9,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:57.931,datahub.epm_staf.v1.m_positions,45,72444,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:32:18.924,None,1,None,None,2,[Gomel],[Belarus]
7,76ec0851-baf7-4aad-a8cc-2f6b295449ec,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:00.304,datahub.epm_staf.v1.m_positions,45,72447,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:32:18.034,None,1,None,None,2,[Gomel],[Belarus]
8,2b574333-88d9-4fc0-942b-084aeec7a39d,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:59.086,datahub.epm_staf.v1.m_positions,45,72474,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 17:53:23.505,None,1,None,None,2,[Gomel],[Belarus]
9,bbbeda1c-a2e1-4caa-8c2d-e91d2256d41f,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:57.837,datahub.epm_staf.v1.m_positions,45,72481,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 12:01:01.448,None,1,None,None,2,[Minsk],[Belarus]
10,f2597b0e-5dfe-4f16-9443-4820ab5fad5a,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:00.313,datahub.epm_staf.v1.m_positions,45,72484,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 11:50:42.452,None,1,None,None,2,"[Princeton, NJ]",[USA]
11,3936fad3-8b89-4725-9c1a-ec3b723b6607,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:58.861,datahub.epm_staf.v1.m_positions,45,72487,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 11:53:48.242,None,1,None,None,2,"[Princeton, NJ]",[USA]
12,eeb39cce-97cf-4766-b787-8561a0d23a60,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:59.381,datahub.epm_staf.v1.m_positions,45,72490,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 11:16:38.444,None,1,None,None,2,"[Princeton, NJ]",[USA]
13,ddcf4240-158f-42d0-a08f-fbfdf7b3af9a,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:58.154,datahub.epm_staf.v1.m_positions,45,72509,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:30:55.528,None,1,None,None,2,"[Princeton, NJ]",[USA]
14,d6d21c76-06ac-4366-8638-35be57cee3af,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:58.390,datahub.epm_staf.v1.m_positions,45,72512,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 16:33:39.403,None,1,None,None,2,[Gomel],[Belarus]
15,e950681f-d3f4-4f48-b0e9-1a865767367c,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:00.903,datahub.epm_staf.v1.m_positions,45,72523,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:42:27.269,None,1,None,None,2,"[Princeton, NJ]",[USA]
16,381a9478-472b-4d4c-8507-724f62d83381,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:58.611,datahub.epm_staf.v1.m_positions,45,72526,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:46:31.777,None,1,None,None,2,[Minsk],[Belarus]
17,7a6bdcae-8916-431d-9a1d-689e531ce445,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:03.118,datahub.epm_staf.v1.m_positions,45,72529,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:42:39.567,None,1,None,None,2,[Minsk],[Belarus]
18,116c7a01-c931-47ba-bebb-613121db3c47,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:59.129,datahub.epm_staf.v1.m_positions,45,72532,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 17:51:05.895,None,1,None,None,2,[Minsk],[Belarus]
19,dd707ae2-827e-4521-acb6-cbde3c5a03a8,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:01.312,datahub.epm_staf.v1.m_positions,45,72551,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:42:26.086,None,1,None,None,2,[Minsk],[Belarus]
20,1ec13f14-4af2-404f-bf74-b6873ee08994,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:04:58.635,datahub.epm_staf.v1.m_positions,45,72554,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 16:22:19.627,None,1,None,None,2,[Minsk],[Belarus]
21,56de69df-e7f9-4b4f-bb74-4deaea420e9d,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:00.637,datahub.epm_staf.v1.m_positions,45,72557,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Aliaksei Tsiapuhin,2019-07-04 16:51:11.243,None,1,None,None,2,[Gomel],[Belarus]
22,2cf85c24-f948-406d-a255-81875b102dff,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:01.117,datahub.epm_staf.v1.m_positions,45,72560,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 16:59:29.097,None,1,None,None,2,[Minsk],[Belarus]
23,be4e9d10-118f-4ee3-b245-01b141dc0803,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:00.943,datahub.epm_staf.v1.m_positions,45,72579,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 14:09:18.634,None,1,None,None,2,"[San Francisco, CA]",[USA]
24,0aa937be-fd7b-4dd5-a9f3-f3367f4a9d4a,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:04.108,datahub.epm_staf.v1.m_positions,45,72582,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 11:59:46.676,None,1,None,None,2,[Minsk],[Belarus]
26,1f271e55-2d46-49ca-b0fc-a1e791476c84,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:00.627,datahub.epm_staf.v1.m_positions,45,72596,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 16:32:12.853,None,1,None,None,2,[Minsk],[Belarus]
27,665c71f4-9c4b-4ad3-b19c-90ec8cf96099,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:05:00.369,datahub.epm_staf.v1.m_positions,45,72599,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 16:50:00.055,None,1,None,None,2,[Minsk],[Belarus]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,d514410a-4f7b-427d-bd88-30705520e551,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:21.643,datahub.epm_staf.v1.m_positions,45,79085,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Oleg Danilov,2019-07-04 11:22:33.366,None,6,None,None,2,[Grodno],[Belarus]
971,3097a627-f9b9-4776-a0ff-62191f2080fd,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:22.032,datahub.epm_staf.v1.m_positions,45,79097,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Lyudmila Shatko,2019-07-04 20:37:12.106,None,1,625400000000156,None,2,[Minsk],[Belarus]
972,5cf36c0d-9e2d-4ccb-bb77-44f2d051f1a1,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:21.492,datahub.epm_staf.v1.m_positions,45,79104,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Yaroslav Tomilchik,2019-07-05 00:43:35.816,None,2,None,None,None,[Minsk],[Belarus]
973,58bac53a-d55e-4831-87e0-8f24f143d229,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:22.161,datahub.epm_staf.v1.m_positions,45,79107,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Oleg Danilov,2019-07-05 01:30:58.412,None,2,None,None,None,[Minsk],[Belarus]
974,f2061345-b8f5-4b74-851a-adbadce3385c,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:22.158,datahub.epm_staf.v1.m_positions,45,79112,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-05 01:41:39.043,None,1,None,None,None,[Minsk],[Belarus]
975,747efceb-d960-4423-9089-5ccb14604e4d,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:21.744,datahub.epm_staf.v1.m_positions,45,79119,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Yaroslav Tomilchik,2019-07-05 00:10:31.011,None,2,None,None,None,[Minsk],[Belarus]
976,061b2e8e-7e15-414f-a391-3113c13d48ba,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:22.582,datahub.epm_staf.v1.m_positions,45,79124,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Ilya Kochetov,2019-07-05 01:29:20.907,None,2,None,None,None,[Moscow],[Russia]
977,21e47385-fac7-418d-9cee-aa1f0bc4bb19,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:21.642,datahub.epm_staf.v1.m_positions,45,79127,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Ilya Kochetov,2019-07-04 22:51:38.471,None,2,None,None,2,[Minsk],[Belarus]
978,e023b007-9cdb-4f22-a887-a0271331cee5,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:21.548,datahub.epm_staf.v1.m_positions,45,79134,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Dimitri Labutin,2019-07-04 17:57:43.404,None,1,None,None,2,[Minsk],[Belarus]
979,07da65ba-a25b-4266-af83-744d837afb24,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:22.298,datahub.epm_staf.v1.m_positions,45,79141,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Pavel Grebenshikov,2019-07-05 00:41:48.177,None,1,None,None,None,[Gomel],[Belarus]
980,b7707a14-75cd-45a6-bdb2-3d23341d8a2f,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:23.325,datahub.epm_staf.v1.m_positions,45,79144,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Pavel Grebenshikov,2019-07-04 10:56:15.062,None,1,None,None,2,[Gomel],[Belarus]
981,78f23917-7546-417c-a667-349e682ab0aa,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:22.340,datahub.epm_staf.v1.m_positions,45,79151,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Roman Grishkevich,2019-07-04 23:56:50.314,None,6,None,None,None,[Minsk],[Belarus]
982,614480bc-ec00-46c6-804c-514ef1d3ee00,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:22.975,datahub.epm_staf.v1.m_positions,45,79159,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Nikolai Novokhrost,2019-07-04 18:26:22.685,None,1,313931691,None,2,[Minsk],[Belarus]
983,9c0bdade-9757-489d-91cf-9a3891947496,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:22.476,datahub.epm_staf.v1.m_positions,45,79169,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:42:39.847,None,1,None,None,2,[Gomel],[Belarus]
984,e48ffbe9-eaac-481e-93bd-7ffc4d262aac,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:24.668,datahub.epm_staf.v1.m_positions,45,79176,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-05 01:51:52.594,None,1,None,None,None,[Gomel],[Belarus]
985,c7952b67-9db6-4998-98b5-0c05ff7640c3,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:24.400,datahub.epm_staf.v1.m_positions,45,79179,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-04 10:30:49.823,None,1,None,None,2,[Gomel],[Belarus]
986,b269b9f4-3d1d-4b93-8bf0-03f18ca5c76e,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:24.180,datahub.epm_staf.v1.m_positions,45,79186,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-05 00:06:59.313,None,1,None,None,None,[Minsk],[Belarus]
987,e2be92c7-e92d-46b0-b7f4-d2c055e607fa,"DateTimeRange(datetime.datetime(2020, 2, 22, 7...","DateTimeRange(datetime.datetime(2020, 2, 22, 7...",2020-02-22 08:06:22.739,datahub.epm_staf.v1.m_positions,45,79189,True,True,"place_of_work_id,place_of_work_name",...,"[{""id"": ""1"", ""name"": ""No staffing required"", ""...",Alexander Ivanov,2019-07-05 00:12:02.367,None,1,None,None,None,[Minsk],[Belarus]