<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"></ul></div>

In [1]:
import psycopg2 as pg
import pandas as pd
import numpy as np
import pandas.io.sql as psql
import datetime
from dateutil.relativedelta import relativedelta
import time
import sys
sys.path.append('../src')
from datahub import PostgreSQLBase, ToDatahubWriter
import logging
logger = logging.getLogger()
logger.setLevel(logging.DEBUG)

formatter = logging.Formatter('%(asctime)s - %(name)s : %(levelname)s : %(message)s')

consoleHandler = logging.StreamHandler()
consoleHandler.setFormatter(formatter)
logger.addHandler(consoleHandler)

import auxiliary as aux
reload (aux)

import features
reload(features)
import revenue
reload(revenue)

postgres = PostgreSQLBase()
df_proc = aux.DataFrameProcessor()
loc_ids = aux.City_Country()

In [2]:
from IPython.display import display

In [3]:
import plotly.plotly as py
import plotly

In [4]:
%%time
df = postgres.get_data('active_positions_per_date_dataset_snaps.sql', param='2019-03-31', param_type='day')

Wall time: 10min 33s

In [5]:
df.shape

(647059, 61)

In [ ]:
"""select position_id, staffing_status
from wpm_head.epm_staf_m_positions
where position_id in {}"""

In [9]:
pos = postgres.get_data('test_query.sql', param=tuple(df.position_id.unique().astype(str)), param_type='day')

In [14]:
df = pd.merge(
    df, pos.set_index('position_id')[['staffing_status']].rename(column={'staffing_status' : 'staffing_status_final'}),
    how='left', left_on = 'position_id', right_index=True
)

In [15]:
df.shape

(647059, 65)

In [20]:
df = df_proc.datetime_cols(df, ['date', 'timesheet_date'])


df['cur_month'] = df.date.map(lambda d: datetime.datetime.strftime(d, '%Y-%m-%d')[:7])
df['next_1_month'] = df.date.map(
    lambda d: datetime.datetime.strftime(d + relativedelta(months=1), '%Y-%m-%d')[:7])
df['next_2_month'] = df.date.map(
    lambda d: datetime.datetime.strftime(d + relativedelta(months=2), '%Y-%m-%d')[:7])

df['report_month'] = df[
    df.timesheet_date.notnull()
].timesheet_date.map(lambda d: datetime.datetime.strftime(d, '%Y-%m-%d')[:7])

2019-07-26 14:57:30,864 - model.auxiliary : DEBUG : datetime columns process started
2019-07-26 14:57:30,927 - model.auxiliary : DEBUG : date
2019-07-26 14:57:30,941 - model.auxiliary : DEBUG : timesheet_date

In [21]:
df['next_plus_month'] = np.where(
    df.report_month == df.cur_month, 0, np.where(
        df.report_month == df.next_1_month, 0, np.where(
            df.report_month == df.next_2_month, 0, np.where(
                df.report_month.isnull(), 0, 1
            )
        )
    )
)
df['cur_month'] = np.where(df.cur_month == df.report_month, 1, 0)
df['next_1_month'] = np.where(df.next_1_month == df.report_month, 1, 0)
df['next_2_month'] = np.where(df.next_2_month == df.report_month, 1, 0)

In [28]:
df['assigned'] = np.where(
    (df.cur_month == 0) &
    (df.next_1_month == 0) &
    (df.next_2_month == 0) &
    (df.next_plus_month == 0) &
    (df.staffing_status_final == 'Assigned'), 1, 0
)

df['cancelled'] = np.where(
    (df.cur_month == 0) &
    (df.next_1_month == 0) &
    (df.next_2_month == 0) &
    (df.next_plus_month == 0) &
    (df.staffing_status_final == 'Closed'), 1, 0
)

df['Terminated'] = np.where(
    (df.cur_month == 0) &
    (df.next_1_month == 0) &
    (df.next_2_month == 0) &
    (df.next_plus_month == 0) &
    (df.staffing_status_final == 'Terminated'), 1, 0
)

df['In_Progress'] = np.where(
    (df.cur_month == 0) &
    (df.next_1_month == 0) &
    (df.next_2_month == 0) &
    (df.next_plus_month == 0) &
    (df.staffing_status_final == 'In Progress'), 1, 0
)

df['Booked'] = np.where(
    (df.cur_month == 0) &
    (df.next_1_month == 0) &
    (df.next_2_month == 0) &
    (df.next_plus_month == 0) &
    (df.staffing_status_final == 'Booked'), 1, 0
)

df['Proposed'] = np.where(
    (df.cur_month == 0) &
    (df.next_1_month == 0) &
    (df.next_2_month == 0) &
    (df.next_plus_month == 0) &
    (df.staffing_status_final == 'Proposed'), 1, 0
)

df['Not_Actionable'] = np.where(
    (df.cur_month == 0) &
    (df.next_1_month == 0) &
    (df.next_2_month == 0) &
    (df.next_plus_month == 0) &
    (df.staffing_status_final == 'Not Actionable'), 1, 0
)

df['Onboarding'] = np.where(
    (df.cur_month == 0) &
    (df.next_1_month == 0) &
    (df.next_2_month == 0) &
    (df.next_plus_month == 0) &
    (df.staffing_status_final == 'Onboarding'), 1, 0
)

df['On_Hold'] = np.where(
    (df.cur_month == 0) &
    (df.next_1_month == 0) &
    (df.next_2_month == 0) &
    (df.next_plus_month == 0) &
    (df.staffing_status_final == 'On Hold'), 1, 0
)

df['Open'] = np.where(
    (df.cur_month == 0) &
    (df.next_1_month == 0) &
    (df.next_2_month == 0) &
    (df.next_plus_month == 0) &
    (df.staffing_status_final == 'Open'), 1, 0
)

In [32]:
df['total'] = 1

In [33]:
df

,date,bt,position_id,assignee_id,account_manager_id,actual_start_date,actual_end_date,created,creator_id,last_assigned_date,...,cancelled,Terminated,In_Progress,Booked,Proposed,Not_Actionable,Onboarding,On_Hold,Open,total
0,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 23, 5...",131759001,4060741400317351406,4060741400007668548,2019-03-22,None,2019-03-06 14:14:44.201,4060741400006197220,2019-03-22 14:59:58.916000,...,0,0,0,0,0,0,0,0,0,1
1,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 23, 6...",127552254,4060741400035500236,4060741400354842536,2019-02-01,None,2019-01-10 10:19:29.369,4000741400012256570,2019-01-22 13:03:35.191000,...,0,0,0,0,0,0,0,0,0,1
2,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 23, 9...",130060306,4060741400343637295,4000741400006908159,2019-04-16,None,2019-02-13 08:59:30.908,4000741400002940755,2019-02-26 12:31:02.255000,...,0,0,0,0,0,0,0,0,0,1
3,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 23, 7...",126803401,4060741400041080245,4000741400005686069,2019-01-23,None,2018-12-26 13:15:35.763,4000741400000896149,2019-01-23 11:00:08.526000,...,0,0,0,0,0,0,0,0,0,1
4,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 26, 1...",77415585,4000741400003244865,4000741400006444598,2017-09-27,None,2017-09-27 10:46:43.234,4060741400047870320,2017-09-27 11:04:38.941000,...,0,0,0,0,0,0,0,0,0,1
5,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 24, 6...",130102896,4060741400051307021,4060741400006949008,2019-03-01,None,2019-02-13 14:12:34.459,4060741400007726854,2019-02-26 17:09:10.349000,...,0,0,0,0,0,0,0,0,0,1
6,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 25, 0...",132268156,4060741400346089215,4060741400037533145,2019-04-01,None,2019-03-14 10:05:29.694,4060741400008624001,2019-03-22 12:41:12.045000,...,0,0,0,0,0,0,0,0,0,1
7,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 27, 1...",133455766,4060741400042497249,4060741400006949008,2019-04-01,None,2019-03-27 14:16:07.381,4060741400007726854,2019-03-27 14:25:54.001000,...,0,0,0,0,0,0,0,0,0,1
8,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 26, 1...",130588435,4060741400354328245,4000741400006444598,2019-04-01,None,2019-02-19 10:36:06.845,4060741400047870320,2019-02-19 11:08:43.593000,...,0,1,0,0,0,0,0,0,0,1
9,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 25, 1...",133248680,None,4060741400008593864,None,None,2019-03-25 12:57:57.804,4060741400311489240,NaT,...,1,0,0,0,0,0,0,0,0,1
10,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 26, 1...",130185167,4060741400373873371,4000741400006444598,2019-05-01,None,2019-02-14 11:32:50.402,4060741400047870320,2019-02-27 10:45:17.462000,...,0,0,0,0,0,0,0,0,0,1
11,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 26, 1...",133323924,4060741400050894311,4000741400006444598,2019-04-01,None,2019-03-26 10:57:11.385,4000741400001203349,2019-03-26 16:16:26.089000,...,0,1,0,0,0,0,0,0,0,1
12,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 26, 1...",133272195,4060741400337074067,4000741400006444598,2019-04-01,None,2019-03-25 15:49:01.024,4060741400047870320,2019-03-26 08:00:08.547000,...,0,0,0,0,0,0,0,0,0,1
13,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 20, 1...",124281616,None,4060741400352648366,None,None,2018-11-16 09:06:57.068,4060741400035076250,NaT,...,0,0,0,0,0,0,0,0,0,1
14,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 26, 1...",132319095,None,4060741400036033362,None,None,2019-03-14 17:33:09.564,4060741400036033362,NaT,...,1,0,0,0,0,0,0,0,0,1
15,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 23, 9...",132304997,None,101000031861,None,None,2019-03-14 14:49:46.941,4060741400006371529,NaT,...,0,0,0,0,0,0,0,0,0,1
16,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 22, 1...",120027139,4060741400006004004,4060741400042483805,2018-09-10,None,2018-09-13 08:27:03.554,4000741400000896573,2018-09-13 08:27:22.035000,...,0,0,0,0,0,0,0,0,0,1
17,2019-03-28,"DateTimeRange(datetime.datetime(2019, 1, 31, 8...",84244801,4060741400035562123,4060741400008593856,2017-10-01,None,2017-10-02 08:44:15.887,4060741400038615176,2017-10-02 09:43:37.818000,...,0,0,0,0,0,0,0,1,0,1
18,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 1, 11...",131153619,None,4000741400006305606,None,None,2019-02-26 10:39:49.724,4000741400000497028,NaT,...,0,0,0,0,0,1,0,0,0,1
19,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 23, 9...",132048934,None,313947591,None,None,2019-03-11 23:44:06.132,4060741400035681535,NaT,...,1,0,0,0,0,0,0,0,0,1
20,2019-03-28,"DateTimeRange(datetime.datetime(2019, 2, 5, 10...",75343534,None,4000600100000177424,None,None,2017-08-01 17:57:23.721,4060741400006559852,NaT,...,0,0,0,0,0,0,0,0,1,1
21,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 23, 7...",131243700,4060741400354515559,4060741400034836183,2019-04-01,None,2019-02-27 10:24:30.306,4060741400006090885,2019-02-27 14:17:03.606000,...,0,0,0,0,0,0,0,0,0,1
22,2019-03-28,"DateTimeRange(datetime.datetime(2019, 1, 17, 1...",72599801,4060741400008648245,4060741400034834412,2017-05-01,None,2017-05-31 13:18:09.196,4060741400008593816,2017-05-31 13:18:20.305000,...,0,0,0,0,0,0,0,0,0,1
23,2019-03-28,"DateTimeRange(datetime.datetime(2019, 2, 5, 10...",106908336,4000741400004308243,4000600100000177424,2018-04-05,None,2018-04-05 06:27:16.075,4000741400000362147,2018-04-05 06:34:47.256000,...,0,0,0,0,0,0,0,0,0,1
24,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 24, 2...",129370320,4060741400338133687,4060741400005451800,2019-02-04,None,2019-02-04 14:15:43.955,4000741400006869345,2019-02-04 14:21:25.407000,...,0,0,0,0,0,0,0,0,0,1
25,2019-03-28,"DateTimeRange(datetime.datetime(2019, 3, 23, 9...",130526764,4060741400368507216,101000031861,2019-04-01,None,2019-02-18 17:15:44.018,4000741400004228335,2019-03-11 11:20:35.896000,...,0,0,0,0,0,0,0,0,0,1
26,2019-03-28,"DateTimeRange(datetime.datetime(2019, 2, 28, 1...",113622042,4060741400005242185,4060741400035744437,2018-07-09,None,2018-07-09 12:20:36.748,4000741400003619095,2018-07-09 12:20:53.628000,...,0,0,0,0,0,0,0,0,0,1
27,2019-03-28,"DateTimeRange(datetime.datetime(2019, 1, 31, 8...",69800812,4000741400010609811,4060741400008593856,2017-03-20,None,2017-03-20 08:35:50.808,4060741400038615176,2017-03-20 08:38:44.825000,...,0,1,0,0,0,0,0,0,0,1
28,2019-03-28,"DateTimeRange(datetime.datetime(2019, 1, 16, 8...",74184866,4060741400308128101,4060741400034834412,2017-07-26,None,2017-07-05 12:33:14.136,4060741400008593816,2017-08-02 08:45:32.431000,...,0,0,0,0,0,0,0,0,0,1
29,2019-03-28,"DateTimeRange(datetime.datetime(2019, 1, 16, 8...",72550655,4060741400041129656,4060741400034834412,2017-05-01,None,2017-05-30 12:58:26.827,4060741400008593816,2017-05-30 12:58:43.363000,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647029,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 11, ...",23426037,None,4060741400006667815,None,None,2016-10-27 10:45:57.000,313934947,None,...,0,0,0,0,0,0,0,0,0,1
647030,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 11, ...",12355316,4060741400008805004,4060741400008605780,2016-09-01,None,2016-06-17 17:17:57.000,4060741400008593840,None,...,0,1,0,0,0,0,0,0,0,1
647031,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 11, ...",23426058,None,4060741400006667815,None,None,2016-10-27 10:45:58.000,313934947,None,...,0,0,0,0,0,0,0,0,0,1
647032,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 11, ...",1058692,4060741400008497480,4060741400035612412,2014-05-01,None,2014-05-01 00:00:00.000,4060741400006135853,None,...,0,1,0,0,0,0,0,0,0,1
647033,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 11, ...",13231951,None,None,None,None,2016-08-01 01:57:18.000,4060741400008498623,None,...,1,0,0,0,0,0,0,0,0,1
647034,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 11, ...",23426013,None,4060741400006667815,None,None,2016-10-27 10:45:56.000,313934947,None,...,0,0,0,0,0,0,0,0,0,1
647035,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 11, ...",1888226,4060741400006470302,4060741400005323088,2016-02-29,None,2016-02-23 14:30:52.000,4000629626570001926,None,...,0,1,0,0,0,0,0,0,0,1
647036,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 11, ...",1059538,4060741400008497279,4060741400035612412,2014-05-01,None,2014-05-01 00:00:00.000,4060741400006135853,None,...,0,1,0,0,0,0,0,0,0,1
647037,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 11, ...",1642827,4060741400035945101,4060741400035612412,2016-01-27,None,2015-09-11 08:49:55.000,4060741400008497488,None,...,0,1,0,0,0,0,0,0,0,1
647038,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 11, ...",17004999,4060741400008498805,4060741400035612412,2017-01-01,None,2016-10-12 14:26:56.000,4060741400008498805,None,...,0,1,0,0,0,0,0,0,0,1
647039,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 11, ...",1357119,4060741400008648277,4060741400035613206,2015-02-01,None,2015-02-01 00:00:00.000,4060741400008593816,None,...,0,1,0,0,0,0,0,0,0,1
647040,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 11, ...",23426071,None,4060741400006667815,None,None,2016-10-27 10:45:59.000,313934947,None,...,0,0,0,0,0,0,0,0,0,1
647041,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 12, ...",15702648,4060741400006090885,4000741400004203938,2016-10-03,None,2016-10-03 14:31:08.000,4060741400006090885,None,...,0,0,0,0,0,0,0,0,0,1
647042,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 13, ...",1644195,4060741400006296936,4060741400006296936,2015-09-14,None,2015-09-14 00:00:00.000,101000031861,None,...,0,1,0,0,0,0,0,0,0,1
647043,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 13, ...",1058221,4060741400008498937,4060741400035612412,2014-05-01,None,2014-05-01 00:00:00.000,4060741400006873371,None,...,0,1,0,0,0,0,0,0,0,1
647044,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 14, ...",1939618,None,101000031861,None,None,2016-03-18 11:54:37.000,313925229,None,...,1,0,0,0,0,0,0,0,0,1
647045,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 13, ...",29749567,4060741400008593719,4060741400008605780,2016-11-01,None,2016-11-11 06:43:52.000,4060741400008593703,None,...,0,1,0,0,0,0,0,0,0,1
647046,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 13, ...",1058200,4060741400008497907,4060741400035612412,2014-05-01,None,2014-05-01 00:00:00.000,4060741400006873371,None,...,0,1,0,0,0,0,0,0,0,1
647047,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 14, ...",13116868,4060741400006613109,4000600100000215580,2016-07-18,None,2016-07-20 12:56:03.000,4060741400005713987,None,...,0,1,0,0,0,0,0,0,0,1
647048,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 14, ...",13269637,4060741400008505361,4060741400035605050,2016-10-24,None,2016-08-02 18:04:40.000,4000741400004005597,None,...,0,1,0,0,0,0,0,0,0,1
647049,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 14, ...",30697441,None,4060741400035612412,None,None,2016-11-14 08:53:18.000,4060741400008498805,None,...,1,0,0,0,0,0,0,0,0,1
647050,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 14, ...",13269660,4060741400008885594,4060741400035605050,2016-10-24,None,2016-08-02 18:05:30.000,4000741400004005597,None,...,0,1,0,0,0,0,0,0,0,1
647051,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 14, ...",1367067,4060741400008121439,313925515,2015-02-09,None,2015-02-09 00:00:00.000,4000741400003031257,None,...,0,1,0,0,0,0,0,0,0,1
647052,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 14, ...",12320486,4060741400006701668,4000741400010303414,2016-06-15,None,2016-06-15 16:50:38.000,4060741400009595071,None,...,0,1,0,0,0,0,0,0,0,1
647053,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 15, ...",1055020,4060741400006878018,4060741400035907807,2014-04-28,None,2014-04-28 00:00:00.000,4000741400010992269,None,...,0,1,0,0,0,0,0,0,0,1
647054,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 15, ...",1628351,4060741400008705550,4000741400000894926,2015-09-01,None,2015-09-01 00:00:00.000,4060741400006378485,None,...,0,0,0,0,0,0,0,0,0,1
647055,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 15, ...",1459694,4060741400018854836,4060741400035612412,2015-05-01,None,2015-04-29 06:57:16.000,4000741400004122790,None,...,0,1,0,0,0,0,0,0,0,1
647056,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 15, ...",12437802,None,4060741400008060566,None,None,2016-06-24 15:09:41.000,4060741400008060566,None,...,1,0,0,0,0,0,0,0,0,1
647057,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 15, ...",12437796,None,4060741400008060566,None,None,2016-06-24 15:09:40.000,4060741400008060566,None,...,1,0,0,0,0,0,0,0,0,1
647058,2017-01-01,"DateTimeRange(datetime.datetime(2016, 11, 15, ...",1255794,4060741400009017818,4060741400035907807,2014-11-03,None,2014-11-03 00:00:00.000,4060741400005615083,None,...,0,1,0,0,0,0,0,0,0,1

In [38]:
df.date = df.date.astype(str)

In [40]:
pd.pivot_table(df, index='date', values=['total', 'cur_month', 'next_1_month', 'next_2_month', 'next_plus_month',
    'assigned', 'Terminated', 'cancelled', 'Open', 'In_Progress', 'Proposed', 'Booked',
    'Onboarding', 'Not_Actionable', 'On_Hold'], aggfunc=np.sum)[
    ['total', 'cur_month', 'next_1_month', 'next_2_month', 'next_plus_month',
    'assigned', 'Terminated', 'cancelled', 'Open', 'In_Progress', 'Proposed', 'Booked',
    'Onboarding', 'Not_Actionable', 'On_Hold']
]#.to_excel('../data/billable_pos_pipeline.xlsx')

,total,cur_month,next_1_month,next_2_month,next_plus_month,assigned,Terminated,cancelled,Open,In_Progress,Proposed,Booked,Onboarding,Not_Actionable,On_Hold
date,,,,,,,,,,,,,,,
2017-01-01,4222,1113,352,132,263,72,1407,862,0,0,0,0,0,0,21
2017-01-07,3857,667,407,136,279,73,1379,895,0,0,0,0,0,0,21
2017-01-14,3814,398,491,168,309,73,1395,959,0,0,0,0,0,0,21
2017-01-21,3732,189,609,201,351,73,1326,968,0,0,0,0,0,0,15
2017-01-28,4140,79,797,299,458,73,1414,1005,0,0,0,0,0,0,15
2017-02-01,3866,511,342,160,338,73,1421,1006,0,0,0,0,0,0,15
2017-02-07,3787,364,408,184,359,73,1368,1016,0,0,0,0,0,0,15
2017-02-14,3816,284,501,221,394,73,1321,1006,0,0,0,0,0,0,16
2017-02-21,3873,129,641,261,437,73,1305,1011,0,0,0,0,0,0,16
2017-02-28,4097,0,833,337,507,73,1298,1033,0,0,0,0,0,0,16
2017-03-01,3821,527,357,190,334,73,1291,1032,0,0,0,0,0,0,17
2017-03-07,3908,422,455,222,375,73,1268,1075,0,0,0,0,0,0,18
2017-03-14,4080,327,544,271,419,74,1281,1145,0,0,0,0,0,0,19
2017-03-21,4215,187,702,334,463,75,1278,1157,0,0,0,0,0,0,19
2017-03-28,4413,63,941,397,504,75,1284,1130,0,0,0,0,0,0,19
2017-04-01,4671,1153,459,186,365,77,1300,1112,0,0,0,0,0,0,19
2017-04-07,4236,573,540,211,397,77,1298,1122,0,0,0,0,0,0,18
2017-04-14,4350,409,694,250,447,78,1240,1214,0,0,0,0,0,0,18
2017-04-21,4426,196,956,304,482,78,1238,1155,0,0,0,0,0,0,17
2017-04-28,4457,0,1120,353,536,78,1220,1133,0,0,0,0,0,0,17
2017-05-01,4492,1155,373,179,368,78,1210,1112,0,0,0,0,0,0,17
2017-05-07,4170,722,449,205,400,78,1172,1127,0,0,0,0,0,0,17
2017-05-14,4161,544,519,244,424,78,1162,1173,0,0,0,0,0,0,17
2017-05-21,4182,281,649,307,482,78,1131,1237,0,0,0,0,0,0,17
2017-05-28,4202,93,795,365,539,78,1142,1173,0,0,0,0,0,0,17
2017-06-01,3931,583,389,286,289,79,1134,1154,0,0,0,0,0,0,17
2017-06-07,3989,458,450,316,324,79,1128,1217,0,0,0,0,0,0,17
2017-06-14,4106,340,569,351,371,79,1141,1237,0,0,0,0,0,0,18
2017-06-21,4246,181,747,398,437,82,1103,1279,0,0,0,0,0,0,19
2017-06-28,4509,29,952,474,492,82,1139,1323,0,0,0,0,0,0,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-10-01,4615,922,554,174,323,248,750,1560,10,8,13,3,6,2,42
2018-10-07,5058,943,692,232,390,252,797,1655,10,8,13,5,6,3,52
2018-10-14,5071,756,825,305,468,253,755,1611,10,8,13,5,7,3,52
2018-10-21,4907,449,1000,354,524,259,727,1483,10,12,16,5,7,3,58
2018-10-28,5179,147,1251,427,647,270,729,1602,10,13,16,5,8,3,51
2018-11-01,4958,1036,470,397,333,275,722,1617,10,14,16,5,9,3,51
2018-11-07,5030,793,558,527,373,279,697,1691,11,14,17,6,10,3,51
2018-11-14,5185,535,685,613,480,284,706,1765,11,14,22,6,10,3,51
2018-11-21,5528,244,812,925,564,289,712,1854,11,15,25,8,11,4,54
2018-11-28,5854,16,1020,1159,639,298,742,1848,11,15,28,8,12,4,54
2018-12-01,6240,1190,1248,310,403,304,736,1910,11,18,28,8,14,4,56
2018-12-07,5786,511,1423,358,460,305,681,1903,11,20,29,8,14,7,56
2018-12-14,6031,316,1674,451,527,307,696,1905,12,24,30,11,14,8,56
2018-12-21,6230,83,1955,539,585,311,699,1895,12,26,33,13,14,9,56
2018-12-28,6510,3,2175,606,685,323,703,1842,12,31,36,15,14,9,56
2019-01-01,6585,2216,616,361,342,324,703,1851,12,33,38,15,14,9,51
2019-01-07,5491,1182,660,371,349,314,650,1796,12,33,38,15,14,9,48
2019-01-14,5052,518,816,413,406,324,627,1769,12,37,40,15,14,11,50
2019-01-21,5158,297,1042,484,465,326,642,1713,13,39,43,18,14,11,51
2019-01-28,5396,74,1231,560,567,328,645,1774,13,45,49,23,16,11,60
2019-02-01,5234,954,640,377,285,335,645,1768,13,47,53,25,18,11,63
2019-02-07,5145,753,794,423,316,349,533,1734,13,49,57,27,21,11,65
2019-02-14,5138,495,946,500,362,359,514,1697,13,55,64,30,24,12,67
2019-02-21,5268,242,1147,603,430,369,483,1698,16,63,70,35,28,15,69
2019-02-28,5345,0,1365,682,492,377,447,1671,16,66,74,36,32,18,69
2019-03-01,5097,1064,716,280,224,379,454,1662,16,68,76,38,34,18,68
2019-03-07,5106,799,927,327,248,395,442,1621,20,71,83,43,47,20,63
2019-03-14,5448,576,1158,432,274,408,515,1683,23,72,88,44,51,52,72
2019-03-21,5562,251,1440,529,342,420,495,1645,24,79,100,51,57,57,72
2019-03-28,5863,5,1710,642,409,432,486,1681,31,94,112,58,64,67,72

In [49]:
df[
    (df.date == '2019-01-01') &
    (df.Open == 1)
][['position_name', 'planned_start_date', 'planned_end_date', 'container_name', 'customer_name']]

,position_name,planned_start_date,planned_end_date,container_name,customer_name
74602,None,2019-04-30,2019-12-31,RELS-RMCQ,Elsevier
74603,None,2019-04-30,2019-12-31,RELS-RMCQ,Elsevier
74608,None,2019-04-30,2019-12-31,RELS-RMCQ,Elsevier
74612,None,2019-01-31,2019-01-31,RELS-RMCQ,Elsevier
74616,None,2019-04-30,2019-12-31,RELS-RMCQ,Elsevier
74927,None,2017-05-01,2017-12-31,TCO-EMC,Tengizchevroil LLP
77616,None,2018-12-10,2019-01-09,CCCA-NRGP,Coca Cola Company APAC
79167,Java integration - Kafka,2018-07-02,2018-08-24,TRUN-ARCH,Trunomi
79173,None,2019-01-15,2019-12-31,LIBG-WIFI,Liberty Global Services
79466,None,2019-01-15,2019-12-31,LIBG-WIFI,Liberty Global Services
79473,None,2019-01-15,2019-12-31,LIBG-WIFI,Liberty Global Services
79649,Intelligent Automation,2019-03-01,2019-04-30,CIGN-IAO,Cigna Corporation

In [108]:
day_start = datetime.datetime.strptime('2019-05-01', '%Y-%m-%d')
day_end = datetime.datetime.strptime('2019-05-28', '%Y-%m-%d')
country_ids = ['4000602900000005345', '4000602900000005343', '4060741400304650362', '4000602900000005338', 
               '4000741334650021875', '4060741400007779857']
bd_type = 'min' #'max', 'mean', 'min', 'none', if 'none' then only without weekends

In [142]:
def bd_range_processing(x, start_date_field, end_date_field, bd_type = 'min'):
    
    loc_ids = aux.City_Country()
    postgres = PostgreSQLBase()
    
    def bd_range_for_country(day_start, day_end, country):

        bad_calendars = {
            'Canada' : 'Canada, Calgary',
            'Switzerland' : 'Switzerland, Zurich',
            'India' : 'India, Hyderabad',
            'Spain' : 'Spain, Malaga',
            'Australia' : 'Australia, New South Wales',
            'Hong Kong SAR' : 'Hong Kong',
            'China- Not Active' : 'China'
        }

        days = pd.date_range(day_start, day_end)
        calendar = pd.DataFrame({'day': days})
        calendar['day'] = calendar['day'].dt.date

        if country in bad_calendars.keys():        
            cal_id_df = postgres.get_data('get_country_calendar_id.sql', param = bad_calendars[country], param_type='day')

        else:    
            cal_id_df = postgres.get_data('get_country_calendar_id.sql', param = country, param_type='day')

        try:
            c_id = cal_id_df['calendar_id'][0]
        except:
            logger.debug('problem with country calendar for {}'.format(country))

        c_cal = postgres.get_data('business_days_by_country_id.sql', param = c_id, param_type='day')
        c_cal['is_b_day'] = 1
        c_cal = c_cal.drop_duplicates()
        c_cal['day'] = pd.to_datetime(c_cal['day']).dt.date

        cal = pd.merge(calendar, c_cal,
          on = 'day',
          how = 'left')
        cal = cal.fillna(0)

        return (cal.is_b_day.sum())
    
    if bd_type == 'none':
        return len(len(pd.bdate_range(start=x[start_date_field], end=x[end_date_field])))
    
    else:
        
        countries = pd.DataFrame({'country_id' : x['staffing_locations_country_ids']})
        countries = loc_ids.vlookuper(countries, from_field='country_id', to_field='country', column_name='none')
        
        bd_range = []

        for c in countries.country:
            bd_range.append(bd_range_for_country(day_start=x[start_date_field], day_end=x[end_date_field], country=c))
            
        if bd_type == 'min':
            return np.min(bd_range)
        elif bd_type == 'max':
            return np.max(bd_range)
        elif bd_type == 'mean':
            return np.mean(bd_range)

In [56]:
df = pd.read_pickle('../data/df_revenue_model_training_2019-03-31_old.pkl')

In [143]:
%%time
df['distance_bd_between_snap_date_and_workload_start_date'] = df.apply(lambda x:
    bd_range_processing(x, start_date_field = 'date', end_date_field = 'workload_start_date', bd_type = 'min'), axis=1
)

2019-07-16 09:43:54,973 - root : DEBUG : problem with country calendar for India
Exception KeyboardInterrupt in 'zmq.backend.cython.message.Frame.__dealloc__' ignored

KeyboardInterrupt:

In [79]:
countries_dict = loc_ids.id_city_country.drop_duplicates('country_id').set_index('country_id').country.to_dict()

bad_calendars = {
    'Canada' : 'Canada, Calgary',
    'Switzerland' : 'Switzerland, Zurich',
    'India' : 'India, Hyderabad',
    'Spain' : 'Spain, Malaga',
    'Australia' : 'Australia, New South Wales',
    'Hong Kong SAR' : 'Hong Kong',
    'China- Not Active' : 'China'
}

In [80]:
day_start = datetime.datetime.strptime('2014-01-01', '%Y-%m-%d')
day_end = datetime.datetime.today()

days = pd.date_range(day_start, day_end)
calendar = pd.DataFrame({'day': days})
calendar['day'] = calendar['day'].dt.date

In [81]:
for c in sorted(countries_dict.values()):
    
    logger.info(c)
    country_id = [k for k,v in countries_dict.items() if v==c][0]
    
    if c in ['Israel', 'Portugal', 'Viet Nam']: #no calendar updates for this countries
        c_cal = pd.DataFrame({'day' : pd.bdate_range(start=day_start, end=day_end)})
        c_cal[country_id] = 1
        
    else:

        if c in bad_calendars.keys():        
            cal_id_df = postgres.get_data('get_country_calendar_id.sql', param = bad_calendars[c], param_type='day')

        else:    
            cal_id_df = postgres.get_data('get_country_calendar_id.sql', param = c, param_type='day')

        try:
            c_id = cal_id_df['calendar_id'][0]
        except:
            logger.debug('problem with country calendar for {}'.format(c))

        c_cal = postgres.get_data('business_days_by_country_id.sql', param = c_id, param_type='day')
        c_cal[country_id] = 1
        c_cal = c_cal.drop_duplicates()
        
    c_cal['day'] = pd.to_datetime(c_cal['day']).dt.date
    
    calendar = pd.merge(calendar, c_cal,
      on = 'day',
      how = 'left')
    
    calendar = calendar.fillna(0)
    calendar[country_id] = calendar[country_id].astype(int)
    
calendar['day'] = calendar['day'].astype(str)
calendar = calendar.set_index('day')

2019-07-16 10:57:26,670 - root : INFO : Armenia
2019-07-16 10:57:28,719 - root : INFO : Australia
2019-07-16 10:57:30,398 - root : INFO : Austria
2019-07-16 10:57:32,134 - root : INFO : Belarus
2019-07-16 10:57:33,914 - root : INFO : Belgium
2019-07-16 10:57:35,588 - root : INFO : Bulgaria
2019-07-16 10:57:37,411 - root : INFO : Canada
2019-07-16 10:57:39,102 - root : INFO : China
2019-07-16 10:57:40,845 - root : INFO : China- Not Active
2019-07-16 10:57:42,759 - root : INFO : Cyprus
2019-07-16 10:57:44,451 - root : INFO : Czech Republic
2019-07-16 10:57:46,203 - root : INFO : Denmark
2019-07-16 10:57:47,872 - root : INFO : France
2019-07-16 10:57:49,575 - root : INFO : Germany
2019-07-16 10:57:51,312 - root : INFO : Hong Kong SAR
2019-07-16 10:57:53,033 - root : INFO : Hungary
2019-07-16 10:57:54,861 - root : INFO : India
2019-07-16 10:57:56,578 - root : INFO : Ireland
2019-07-16 10:57:58,398 - root : INFO : Israel
2019-07-16 10:57:58,444 - root : INFO : Italy
2019-07-16 10:58:00,117 - root : INFO : Japan
2019-07-16 10:58:01,822 - root : INFO : Kazakhstan
2019-07-16 10:58:03,650 - root : INFO : Malaysia
2019-07-16 10:58:05,385 - root : INFO : Mexico
2019-07-16 10:58:07,122 - root : INFO : Netherlands
2019-07-16 10:58:08,842 - root : INFO : New Zealand
2019-07-16 10:58:10,484 - root : INFO : Philippines
2019-07-16 10:58:12,137 - root : INFO : Poland
2019-07-16 10:58:13,878 - root : INFO : Portugal
2019-07-16 10:58:13,923 - root : INFO : Russia
2019-07-16 10:58:15,756 - root : INFO : Serbia
2019-07-16 10:58:17,512 - root : INFO : Singapore
2019-07-16 10:58:19,246 - root : INFO : Slovakia
2019-07-16 10:58:20,898 - root : INFO : South Korea
2019-07-16 10:58:22,569 - root : INFO : Spain
2019-07-16 10:58:24,196 - root : INFO : Sweden
2019-07-16 10:58:25,901 - root : INFO : Switzerland
2019-07-16 10:58:27,828 - root : INFO : Thailand
2019-07-16 10:58:29,480 - root : INFO : UAE
2019-07-16 10:58:31,109 - root : INFO : UK
2019-07-16 10:58:32,789 - root : INFO : USA
2019-07-16 10:58:34,654 - root : INFO : Ukraine
2019-07-16 10:58:36,381 - root : INFO : Uzbekistan
2019-07-16 10:58:37,963 - root : INFO : Viet Nam

In [82]:
calendar

,4000741400000756803,4060741400008501992,4060741400034686867,4000602900000005345,4060741400304650362,4060741400008679559,4000741400000172696,4060741400007779857,4000741400002544657,4060741400035398530,...,4060741400034895894,4000741400007028830,4000741400009107797,4060741400340599192,4060741400037597123,4000602900000005341,4000602900000005338,4000741334650021875,8150000000000000024,4060741400349324343
day,,,,,,,,,,,,,,,,,,,,,
2014-01-01,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2014-01-02,0,0,1,0,0,0,0,1,1,0,...,0,1,0,0,0,1,1,1,0,1
2014-01-03,0,0,1,1,0,1,0,1,1,0,...,0,1,1,0,0,1,1,1,0,1
2014-01-04,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-01-05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-01-06,0,0,1,0,0,1,0,1,1,0,...,0,0,1,0,0,1,1,1,0,1
2014-01-07,0,0,1,0,0,1,0,1,1,0,...,0,1,1,0,0,1,1,0,0,1
2014-01-08,1,0,1,1,0,1,0,1,1,0,...,0,1,1,0,0,1,1,1,0,1
2014-01-09,1,0,1,1,0,1,0,1,1,0,...,0,1,1,0,0,1,1,1,0,1
2014-01-10,1,0,1,1,0,1,0,1,1,0,...,0,1,1,0,0,1,1,1,0,1
2014-01-11,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-01-12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-01-13,1,0,1,1,0,1,0,1,1,0,...,0,1,1,0,0,1,1,1,0,1
2014-01-14,1,0,1,1,0,1,0,1,1,0,...,0,1,1,0,0,1,1,1,0,1
2014-01-15,1,0,1,1,0,1,0,1,1,0,...,0,1,1,0,0,1,1,1,0,1
2014-01-16,1,0,1,1,0,1,0,1,1,0,...,0,1,1,0,0,1,1,1,0,1
2014-01-17,1,0,1,1,0,1,0,1,1,0,...,0,1,1,0,0,1,1,1,0,1
2014-01-18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-01-19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-01-20,1,0,1,1,0,1,0,1,1,0,...,0,1,1,0,0,1,1,1,0,1
2014-01-21,1,0,1,1,0,1,0,1,1,0,...,0,1,1,0,0,1,1,1,0,1
2014-01-22,1,0,1,1,0,1,0,1,1,0,...,0,1,1,0,0,1,1,1,0,1
2014-01-23,1,0,1,1,0,1,0,1,1,0,...,0,1,1,0,0,1,1,1,0,1
2014-01-24,1,0,1,1,0,1,0,1,1,0,...,0,1,1,0,0,1,1,1,0,1
2014-01-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-01-26,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2014-01-27,1,0,1,1,0,1,0,1,1,0,...,0,1,1,0,0,1,1,1,0,1
2014-01-28,0,0,1,1,0,1,0,1,1,0,...,0,1,1,0,0,1,1,1,0,1
2014-01-29,1,0,1,1,0,1,0,1,1,0,...,0,1,1,0,0,1,1,1,0,1
2014-01-30,1,0,1,1,0,1,0,1,1,0,...,0,1,1,0,0,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-17,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,0,1,1
2019-06-18,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2019-06-19,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2019-06-20,1,1,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2019-06-21,1,1,1,1,1,1,1,1,1,1,...,1,0,1,1,0,1,1,1,1,1
2019-06-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2019-06-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2019-06-24,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2019-06-25,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2019-06-26,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2019-06-27,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2019-06-28,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,1,1,0,1,1
2019-06-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2019-06-30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2019-07-01,1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2019-07-02,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2019-07-03,1,1,1,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2019-07-04,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,1,1
2019-07-05,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,1,1,1,1,1
2019-07-06,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2019-07-07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2019-07-08,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2019-07-09,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2019-07-10,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2019-07-11,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2019-07-12,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,1,1,1,1,1
2019-07-13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2019-07-14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2019-07-15,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2019-07-16,1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,1,1,1,1,1,1

In [83]:
df[['date', 'workload_start_date', 'staffing_locations_country_ids']]

,date,workload_start_date,staffing_locations_country_ids
1325497932019-03-28,2019-03-28,2019-04-01,"[4060741400304650362, 4060741400007779857, 406..."
1325475142019-03-28,2019-03-28,2019-04-15,"[4060741400304650362, 4060741400007779857, 406..."
1325472732019-03-28,2019-03-28,2019-04-15,"[4060741400304650362, 4060741400007779857, 406..."
1325469922019-03-28,2019-03-28,2019-04-15,"[4060741400304650362, 4060741400007779857, 406..."
1325471862019-03-28,2019-03-28,2019-04-15,"[4060741400304650362, 4060741400007779857, 406..."
1325462092019-03-28,2019-03-28,2019-04-15,"[4060741400304650362, 4060741400007779857, 406..."
1325469952019-03-28,2019-03-28,2019-04-15,"[4060741400304650362, 4060741400007779857, 406..."
1325462122019-03-28,2019-03-28,2019-04-15,"[4060741400304650362, 4060741400007779857, 406..."
1322254592019-03-28,2019-03-28,2019-04-29,"[4060741400304650362, 4060741400007779857, 406..."
1325473302019-03-28,2019-03-28,2019-04-15,"[4060741400304650362, 4060741400007779857, 406..."
1322683912019-03-28,2019-03-28,2019-04-08,"[4060741400304650362, 4060741400007779857, 406..."
1325462152019-03-28,2019-03-28,2019-04-15,"[4060741400304650362, 4060741400007779857, 406..."
1325462182019-03-28,2019-03-28,2019-04-15,"[4060741400304650362, 4060741400007779857, 406..."
1325469892019-03-28,2019-03-28,2019-04-15,"[4060741400304650362, 4060741400007779857, 406..."
1268071042019-03-28,2019-03-28,2019-05-13,"[4060741400304650362, 4060741400007779857, 406..."
1325499542019-03-28,2019-03-28,2019-04-01,"[4060741400304650362, 4060741400007779857, 406..."
1325501162019-03-28,2019-03-28,2019-04-01,"[4060741400304650362, 4060741400007779857, 406..."
1325499502019-03-28,2019-03-28,2019-04-01,"[4060741400304650362, 4060741400007779857, 406..."
1325501192019-03-28,2019-03-28,2019-04-01,"[4060741400304650362, 4060741400007779857, 406..."
1268071042019-03-21,2019-03-21,2019-05-13,"[4060741400304650362, 4060741400007779857, 406..."
1325469922019-03-21,2019-03-21,2019-04-15,"[4060741400304650362, 4060741400007779857, 406..."
1322683912019-03-21,2019-03-21,2019-04-08,"[4060741400304650362, 4060741400007779857, 406..."
1325462092019-03-21,2019-03-21,2019-04-15,"[4060741400304650362, 4060741400007779857, 406..."
1325471862019-03-21,2019-03-21,2019-04-15,"[4060741400304650362, 4060741400007779857, 406..."
1325475142019-03-21,2019-03-21,2019-04-15,"[4060741400304650362, 4060741400007779857, 406..."
1325497932019-03-21,2019-03-21,2019-04-01,"[4060741400304650362, 4060741400007779857, 406..."
1325462152019-03-21,2019-03-21,2019-04-15,"[4060741400304650362, 4060741400007779857, 406..."
1322254592019-03-21,2019-03-21,2019-04-29,"[4060741400304650362, 4060741400007779857, 406..."
1325462122019-03-21,2019-03-21,2019-04-15,"[4060741400304650362, 4060741400007779857, 406..."
1325462182019-03-21,2019-03-21,2019-04-15,"[4060741400304650362, 4060741400007779857, 406..."
...,...,...,...
16278622017-01-01,2017-01-01,2015-08-31,[4000602900000005343]
138726392017-01-01,2017-01-01,2016-10-17,[4000741334650021875]
165278362017-01-01,2017-01-01,2017-02-20,[4060741400007779857]
165278972017-01-01,2017-01-01,2017-02-20,[4060741400007779857]
165278842017-01-01,2017-01-01,2017-02-20,[4060741400007779857]
205242242017-01-01,2017-01-01,2016-10-24,[4000741334650021875]
12613322017-01-01,2017-01-01,2014-11-03,[4000602900000005343]
16764182017-01-01,2017-01-01,2015-11-02,[4000602900000005338]
133476062017-01-01,2017-01-01,2016-08-01,[4000602900000005343]
135994192017-01-01,2017-01-01,2016-09-19,[4000602900000005338]
133775402017-01-01,2017-01-01,2017-01-02,[4000741334650021875]
140407092017-01-01,2017-01-01,2016-10-17,[4000602900000005338]
133723532017-01-01,2017-01-01,1970-01-01,[4000602900000005345]
264651462017-01-01,2017-01-01,2017-01-02,[4000602900000005343]
264847982017-01-01,2017-01-01,2016-10-31,[4000741334650021875]
13261792017-01-01,2017-01-01,2015-01-05,[4000741400009107797]
13254052017-01-01,2017-01-01,2015-01-05,[4000741400009107797]
127218392017-01-01,2017-01-01,2016-10-31,[4000602900000005345]
152683012017-01-01,2017-01-01,2016-10-03,[4000602900000005345]
148505332017-01-01,2017-01-01,2016-09-26,[4000602900000005343]
252441602017-01-01,2017-01-01,2016-10-31,[4060741400007636844]
295840012017-01-01,2017-01-01,1970-01-01,[4000602900000005345]
234260242017-01-01,2017-01-01,2016-11-28,[4000602900000005343]
14091812017-01-01,2017-01-01,1970-01-01,[4000602900000005345]
234260372017-01-01,2017-01-01,2016-11-28,[4000602900000005343]
234260582017-01-01,2017-01-01,2016-11-28,[4000602900000005343]
234260132017-01-01,2017-01-01,2016-11-28,[4000602900000005343]
234260712017-01-01,2017-01-01,2016-11-28,[4000602900000005343]
157026482017-01-01,2017-01-01,2016-10-03,[4000602900000005345]
16283512017-01-01,2017-01-01,2015-08-31,[4000602900000005343]

In [84]:
df.workload_start_date = df.workload_start_date.astype(str)

In [87]:
x = df.loc['133723532017-01-01'][['date', 'workload_start_date', 'staffing_locations_country_ids']]
x

date                                         2017-01-01
workload_start_date                          1970-01-01
staffing_locations_country_ids    [4000602900000005345]
Name: 133723532017-01-01, dtype: object

In [89]:
min(calendar.loc[x['date']:x['workload_start_date'], x['staffing_locations_country_ids']].sum(axis=0))

0L

In [90]:
def bd_range_processing(x, start_date_field, end_date_field, calendar, bd_type = 'min'):
    
    if bd_type == 'none':
        return len(len(pd.bdate_range(start=x[start_date_field], end=x[end_date_field])))
    
    else:
            
        if bd_type == 'min':
            return np.min(calendar.loc[x[start_date_field]:x[end_date_field], x['staffing_locations_country_ids']].sum(
                axis=0))
        elif bd_type == 'max':
            return np.max(calendar.loc[x[start_date_field]:x[end_date_field], x['staffing_locations_country_ids']].sum(
                axis=0))
        elif bd_type == 'mean':
            return np.mean(calendar.loc[x[start_date_field]:x[end_date_field], x['staffing_locations_country_ids']].sum(
                axis=0))

In [91]:
%%time
df['distance_bd_between_snap_date_and_workload_start_date'] = df.apply(lambda x:
    bd_range_processing(x, start_date_field = 'date', end_date_field = 'workload_start_date',
                        calendar = calendar, bd_type = 'min'), axis=1
)

Wall time: 5min 8s

In [93]:
df[['distance_between_snap_date_and_workload_start_date', 'distance_bd_between_snap_date_and_workload_start_date']]

,distance_between_snap_date_and_workload_start_date,distance_bd_between_snap_date_and_workload_start_date
1325497932019-03-28,4,3
1325475142019-03-28,18,11
1325472732019-03-28,18,11
1325469922019-03-28,18,11
1325471862019-03-28,18,11
1325462092019-03-28,18,11
1325469952019-03-28,18,11
1325462122019-03-28,18,11
1322254592019-03-28,32,20
1325473302019-03-28,18,11
1322683912019-03-28,11,7
1325462152019-03-28,18,11
1325462182019-03-28,18,11
1325469892019-03-28,18,11
1268071042019-03-28,46,27
1325499542019-03-28,4,3
1325501162019-03-28,4,3
1325499502019-03-28,4,3
1325501192019-03-28,4,3
1268071042019-03-21,53,31
1325469922019-03-21,25,15
1322683912019-03-21,18,10
1325462092019-03-21,25,15
1325471862019-03-21,25,15
1325475142019-03-21,25,15
1325497932019-03-21,11,5
1325462152019-03-21,25,15
1322254592019-03-21,39,25
1325462122019-03-21,25,15
1325462182019-03-21,25,15
...,...,...
16278622017-01-01,-489,0
138726392017-01-01,-76,0
165278362017-01-01,50,32
165278972017-01-01,50,32
165278842017-01-01,50,32
205242242017-01-01,-69,0
12613322017-01-01,-790,0
16764182017-01-01,-426,0
133476062017-01-01,-153,0
135994192017-01-01,-104,0
133775402017-01-01,1,0
140407092017-01-01,-76,0
133723532017-01-01,-17167,0
264651462017-01-01,1,0
264847982017-01-01,-62,0
13261792017-01-01,-727,0
13254052017-01-01,-727,0
127218392017-01-01,-62,0
152683012017-01-01,-90,0
148505332017-01-01,-97,0
252441602017-01-01,-62,0
295840012017-01-01,-17167,0
234260242017-01-01,-34,0
14091812017-01-01,-17167,0
234260372017-01-01,-34,0
234260582017-01-01,-34,0
234260132017-01-01,-34,0
234260712017-01-01,-34,0
157026482017-01-01,-90,0
16283512017-01-01,-489,0

In [4]:
df = pd.read_pickle('../data/df_revenue_model_training_2019-03-31.pkl')

In [29]:
df.shape

(290090, 64)

In [24]:
df = df_proc.datetime_cols(df, ['date', 'timesheet_date'])


df['cur_month'] = df.date.map(lambda d: datetime.datetime.strftime(d, '%Y-%m-%d')[:7])
df['next_1_month'] = df.date.map(
    lambda d: datetime.datetime.strftime(d + relativedelta(months=1), '%Y-%m-%d')[:7])
df['next_2_month'] = df.date.map(
    lambda d: datetime.datetime.strftime(d + relativedelta(months=2), '%Y-%m-%d')[:7])

df['report_month'] = df.timesheet_date.map(lambda d: datetime.datetime.strftime(d, '%Y-%m-%d')[:7])

In [26]:
df['next_plus_month'] = np.where(
    df.report_month == df.cur_month, 0, np.where(
        df.report_month == df.next_1_month, 0, np.where(
            df.report_month == df.next_2_month, 0, 1
        )
    )
)
df['cur_month'] = np.where(df.cur_month == df.report_month, 1, 0)
df['next_1_month'] = np.where(df.next_1_month == df.report_month, 1, 0)
df['next_2_month'] = np.where(df.next_2_month == df.report_month, 1, 0)

In [36]:
control_cols = ['timesheet_date', 'timesheet_date_max', 'cur_month', 'next_1_month', 'next_2_month', 'next_plus_month',
                'report_month']

In [28]:
pd.pivot_table(df, index='date', values=['cur_month', 'next_1_month', 'next_2_month', 'next_plus_month'], aggfunc=np.sum)

            cur_month  next_1_month  next_2_month  next_plus_month
date
2017-01-01       1113           352           132              263
2017-01-07        667           407           136              279
2017-01-14        398           491           168              309
2017-01-21        189           609           201              351
2017-01-28         79           797           299              458
2017-02-01        511           342           160              338
2017-02-07        364           408           184              359
2017-02-14        284           501           221              394
2017-02-21        129           641           261              437
2017-02-28          0           833           337              507
2017-03-01        527           357           190              334
2017-03-07        422           455           222              375
2017-03-14        327           544           271              419
2017-03-21        187           702           334              463
2017-03-28         63           941           397              504
2017-04-01       1153           459           186              365
2017-04-07        573           540           211              397
2017-04-14        409           694           250              447
2017-04-21        196           956           304              482
2017-04-28          0          1120           353              536
2017-05-01       1155           373           179              368
2017-05-07        722           449           205              400
2017-05-14        544           519           244              424
2017-05-21        281           649           307              482
2017-05-28         93           795           365              539
2017-06-01        583           389           286              289
2017-06-07        458           450           316              324
2017-06-14        340           569           351              371
2017-06-21        181           747           398              437
2017-06-28         29           952           474              492
...               ...           ...           ...              ...
2018-10-01        922           554           174              315
2018-10-07        943           692           232              380
2018-10-14        756           825           305              458
2018-10-21        449          1000           354              514
2018-10-28        147          1251           427              635
2018-11-01       1036           470           397              320
2018-11-07        793           558           527              357
2018-11-14        535           685           613              464
2018-11-21        244           812           925              546
2018-11-28         16          1020          1159              620
2018-12-01       1190          1248           310              381
2018-12-07        511          1423           358              435
2018-12-14        316          1674           451              501
2018-12-21         83          1955           539              558
2018-12-28          3          2175           606              652
2019-01-01       2216           616           361              309
2019-01-07       1182           660           371              314
2019-01-14        518           816           413              369
2019-01-21        297          1042           484              428
2019-01-28         74          1231           560              527
2019-02-01        954           640           375              242
2019-02-07        753           794           421              270
2019-02-14        495           946           498              310
2019-02-21        242          1147           601              368
2019-02-28          0          1365           680              429
2019-03-01       1064           714           279              157
2019-03-07        799           925           326              170
2019-03-14        576          1156           431              191
2019-03-21        251          1438           529              232
2019-03-28          5          1708           640              273

[135 rows x 4 columns]

In [ ]:
self.df = df_proc.time_distance(self.df, 'timesheet_date', 'timesheet_date_max', 'distance')

In [47]:
df['day'] = df.date.map(lambda d: d.day)
df['month'] = df.date.map(lambda d: d.month)
df['year'] = df.date.map(lambda d: d.year)

In [87]:
for d in sorted(df.day.unique()):
    for m in [1,2,3]:
        
        if m >=2:
            
            tr1 = df[
                    (df.day == d) &
                    (df.year != 2019)
                ]
            tr2 = df[
                    (df.day == d) &
                    (df.year == 2019) &
                    (df.month.isin([a for a in [1, 2, 3] if a < m]))
                ]
            train = pd.concat([tr1, tr2])
            
        else:
        
            train = df[
                (df.day == d) &
                (df.year != 2019)
            ]
            
        test = df[
            (df.day == d) &
            (df.year == 2019) &
            (df.month == m)
        ]

        logger.info('for month {} and day {}, the train.shape={}, and test.shape={}'.format(
            m, d, train.shape, test.shape))
#         model_run.def model_with_given_train_and_test(train=train, test=test)

2019-07-05 21:28:22,825 - root : INFO : for month 1 and day 1, the train.shape=(51893, 69), and test.shape=(3502, 69)
2019-07-05 21:28:23,358 - root : INFO : for month 2 and day 1, the train.shape=(55395, 69), and test.shape=(2211, 69)
2019-07-05 21:28:23,703 - root : INFO : for month 3 and day 1, the train.shape=(57606, 69), and test.shape=(2214, 69)
2019-07-05 21:28:25,105 - root : INFO : for month 1 and day 7, the train.shape=(47297, 69), and test.shape=(2527, 69)
2019-07-05 21:28:25,421 - root : INFO : for month 2 and day 7, the train.shape=(49824, 69), and test.shape=(2238, 69)
2019-07-05 21:28:25,736 - root : INFO : for month 3 and day 7, the train.shape=(52062, 69), and test.shape=(2220, 69)
2019-07-05 21:28:26,828 - root : INFO : for month 1 and day 14, the train.shape=(48248, 69), and test.shape=(2116, 69)
2019-07-05 21:28:27,342 - root : INFO : for month 2 and day 14, the train.shape=(50364, 69), and test.shape=(2249, 69)
2019-07-05 21:28:27,753 - root : INFO : for month 3 and day 14, the train.shape=(52613, 69), and test.shape=(2354, 69)
2019-07-05 21:28:28,397 - root : INFO : for month 1 and day 21, the train.shape=(51133, 69), and test.shape=(2251, 69)
2019-07-05 21:28:29,026 - root : INFO : for month 2 and day 21, the train.shape=(53384, 69), and test.shape=(2358, 69)
2019-07-05 21:28:29,372 - root : INFO : for month 3 and day 21, the train.shape=(55742, 69), and test.shape=(2450, 69)
2019-07-05 21:28:30,032 - root : INFO : for month 1 and day 28, the train.shape=(55337, 69), and test.shape=(2392, 69)
2019-07-05 21:28:30,292 - root : INFO : for month 2 and day 28, the train.shape=(57729, 69), and test.shape=(2474, 69)
2019-07-05 21:28:30,569 - root : INFO : for month 3 and day 28, the train.shape=(60203, 69), and test.shape=(2626, 69)